page-create-user {
    ion-textarea {
        width: 100%;
        height: 60px;
    }

    .italic-small-grey {
        font-style: italic;
        color: color($colors, pickup);
    }

    form {
        ion-list {
            ion-col {
                &.col {
                    padding: 12px 12px 0 12px;
                }

                ion-item {
                    &.item-md {
                        background-color: #f3f0f0;
                        height: 2.3em;
                        border-radius: 5px;
                    }

                    &.last-item {
                        margin-bottom: 13px !important;
                    }
                }
            }

            ion-scroll {
                &.scrollable-buttons {
                    min-height: 55px;
                    height: auto;
                    margin: 0 16px;

                    .scroll-content {
                        padding: 0px !important;

                        .scroll-zoom-wrapper {
                            white-space: nowrap;

                            button {
                                width: fit-content;
                                display: inline-block;
                                &.button-small-md {
                                    height: 1.7em;
                                    font-size: 1.4rem;
                                    padding: 0 0.9em;
                                }
                            }
                        }
                    }
                }
            }

            ion-item {
                ion-label {
                    &.select-tag {
                        color: color($colors, dark);
                        font-weight: 600;
                    }

                    &.selected-tag {
                        color: color($colors, light-gray);
                    }
                }

                button {
                    &.active {
                        color: green;
                    }

                    &.deactive {
                        color: red;
                    }
                }
            }
        }
    }
}