<ion-header>
  <modal-toolbar [title]="title" (dismiss)="dismiss($event)"></modal-toolbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="createUserForm">
    <ion-list>
      <ion-item>
        <ion-label stacked>Enter User Name</ion-label>
        <ion-input required placeholder="Enter User Name" type="text" formControlName="User" maxLength="30"></ion-input>
      </ion-item>
      <div class="error-message-block" *ngIf="createUserForm.controls.User.errors && (createUserForm.controls.User.dirty || createUserForm.controls.User.touched)">
        <span *ngIf="createUserForm.controls.User.errors.required">Name is required</span>
        <span *ngIf="createUserForm.controls.User.errors.pattern">Name should be characters only</span>
      </div>
      <ion-item>
        <ion-label stacked>Enter user Code</ion-label>
        <ion-input required placeholder="Enter user Code" type="text" formControlName="UserCode" maxLength="10"></ion-input>
      </ion-item>
      <div class="error-message-block" *ngIf="createUserForm.controls.UserCode.errors && (createUserForm.controls.UserCode.dirty || createUserForm.controls.UserCode.touched)">
        <span *ngIf="createUserForm.controls.UserCode.errors.required">Enter user Code</span>
        <span *ngIf="createUserForm.controls.UserCode.errors.maxlength">Max 10 Characters</span>

      </div>
      <ion-item>
        <ion-label stacked>Enter Email Id</ion-label>
        <ion-input required placeholder="Enter Email" type="EmailID" formControlName="EmailID"></ion-input>
      </ion-item>
      <div class="error-message-block" *ngIf="createUserForm.controls.EmailID.errors && (createUserForm.controls.EmailID.dirty || createUserForm.controls.EmailID.touched)">
        <span *ngIf="createUserForm.controls.EmailID.errors.required">Email is required</span>
        <span *ngIf="createUserForm.controls.EmailID.errors.pattern">Invalid EmailID</span>
      </div>
      <ion-item>
        <ion-label stacked>Enter Phone Number</ion-label>
        <ion-input required placeholder="Enter phone number" type="tel" formControlName="PhoneNo" maxLength="10"></ion-input>
      </ion-item>
      <div class="error-message-block" *ngIf="createUserForm.controls.PhoneNo.errors && (createUserForm.controls.PhoneNo.dirty || createUserForm.controls.PhoneNo.touched)">
        <span *ngIf="createUserForm.controls.PhoneNo.errors.required">Mobile Number is required</span>
        <span *ngIf="createUserForm.controls.PhoneNo.errors.pattern">Enter Digits</span>
        <span *ngIf="createUserForm.controls.PhoneNo.errors.minlength">Minimum Length is 10 digit</span>
        <span *ngIf="createUserForm.controls.PhoneNo.errors.maxlength">Maximum Length is 10 digit</span>
      </div>
      <ion-item>
        <ion-label stacked>Enter Password</ion-label>
        <ion-input required placeholder="Enter Password" [type]="type" formControlName="Password"></ion-input>
        <button clear ion-button *ngIf="!showPassword"  item-end>
          <ion-icon (click)="passwordShow()" name="md-eye-off"></ion-icon>
        </button>
        <button clear *ngIf="showPassword" ion-button item-end>
          <ion-icon (click)="passwordShow()" name="md-eye"></ion-icon>
        </button>
      </ion-item>
      <div class="error-message-block" *ngIf="createUserForm.controls.Password.errors && (createUserForm.controls.Password.dirty || createUserForm.controls.Password.touched)">
        <span *ngIf="createUserForm.controls.Password.errors.required">Password is required</span>
        <span *ngIf="createUserForm.controls.Password.errors.minlength">Password should be minimum 8 characters</span>
        <span *ngIf="createUserForm.controls.Password.errors.maxlength">Password should be maximum 15 characters</span>
      </div>
      <button (click)="createUser()" ion-button full *ngIf="userBtn === 'Create User'" [disabled]="!createUserForm.valid">{{userBtn}}</button>
      <button (click)="updateUser()" ion-button full *ngIf="userBtn === 'Update'" [disabled]="!createUserForm.valid">{{userBtn}}</button>
    </ion-list>
  </form>
</ion-content>