<ion-content>
    <ion-simple-wizard [(step)]="step" [showSteps]="false" (finish)="onFinish()" [finishIcon]="'done-all'" [(stepCondition)]="stepCondition">
        <ion-wizard-step>
            <ion-card class="card-wizard">
                <ion-icon class="card-wizard-icon" [name]="getIconStep(0)" color="primary"></ion-icon>
                <ion-card-content>
                    <ion-card-title>
                        Welcome to PromptJobs
                    </ion-card-title>
                    <p>
                        Let us help you setup your Profile in quick steps
                    </p>
                    <button ion-button outline (click)="skip()">skip to All Jobs</button>
                </ion-card-content>
            </ion-card>
        </ion-wizard-step>
        <ion-wizard-step>
            <ion-card class="card-wizard">
                <ion-icon class="card-wizard-icon" [name]="getIconStep(1)" color="primary"></ion-icon>
                <ion-card-content>
                    <ion-card-title>
                        Create Profile
                    </ion-card-title>
                    <p>
                        Tell us about yourself
                        <ion-list *ngIf="data.JobSeeker">
                            <ion-item>
                                <ion-label color="primary" floating>Mobile Number</ion-label>
                                <ion-input type="tel" placeholder="Mobile Number" [(ngModel)]="data.JobSeeker.contact_number"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label color="primary">Gender</ion-label>
                                <ion-select [(ngModel)]="data.JobSeeker.gender">
                                    <ion-option value="Male">Male</ion-option>
                                    <ion-option value="Female">Female</ion-option>
                                    <ion-option value="Other">Other</ion-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label color="primary">Salary Range</ion-label>
                                <ion-select [(ngModel)]="data.JobSeeker.salary_range_id">
                                    <ion-option *ngFor="let id of data.salaryRange | keys" value="{{id}}">{{data.salaryRange[id]}}</ion-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label color="primary">Experience</ion-label>
                                <ion-select [(ngModel)]="data.JobSeeker.experience_id">
                                    <ion-option *ngFor="let id of data.experience | keys" value="{{id}}">{{data.experience[id]}}</ion-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label color="primary" floating>Preferred Location</ion-label>
                                <ion-input type="text" placeholder="Preferred Location" [(ngModel)]="data.JobSeeker.location"></ion-input>
                            </ion-item>
                        </ion-list>
                    </p>
                </ion-card-content>
            </ion-card>
        </ion-wizard-step>
        <ion-wizard-step>
            <ion-card class="card-wizard">
                <ion-icon class="card-wizard-icon" [name]="getIconStep(2)" color="primary"></ion-icon>
                <ion-card-content>
                    <ion-card-title>
                        SkillSet
                    </ion-card-title>
                    <p>
                        select what all you are Interested in
                    </p>
                    <ion-list *ngIf="data.skills">
                        <ion-list-divider>ion-list-header</ion-list-divider>
                        <ion-item *ngFor="let id of data.skills | keys">
                            <ion-label>{{data.skills[id]}}</ion-label>
                            <ion-toggle (click)="toggleSelectedSkill(id)" color="secondary" [checked]="data.skillIds.indexOf(id) > -1"></ion-toggle>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-wizard-step>
        <ion-wizard-step>
            <ion-card class="card-wizard">
                <ion-icon class="card-wizard-icon" [name]="getIconStep(3)" color="primary"></ion-icon>
                <ion-card-content>
                    <ion-card-title>
                        Final Step
                    </ion-card-title>
                    <p>
                        some lines
                    </p>
                    <button ion-button icon-start (click)="selectResume()">
                        <ion-icon name="document"></ion-icon>
                        Upload Resume
                      </button>
                </ion-card-content>
            </ion-card>
        </ion-wizard-step>
    </ion-simple-wizard>

</ion-content>