<ion-header>
  <!-- [buttons]="[{icon : 'search',name : 'search'}]" -->
  <header [title]="getTitle()" (buttonClicked)="searchData($event)"></header>
  <ion-toolbar ion-text color="primary" *ngIf="searchInputBtn">
    <ion-searchbar [showCancelButton]="true" (ionInput)="getItems($event)" (ionClear)="onClear($event)" (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content padding [ngClass]="{extraTop: searchInputBtn}">
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingIcon="arrow-round-down" pullingText="Pull to refresh" refreshingSpinner="crescent"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <center-spinner *ngIf="!pendingData; else empty_template"></center-spinner>
  <ng-template #empty_template>
    <empty *ngIf="pendingData.length === 0;else data_template"></empty>
    <ng-template #data_template>
      <ion-list box-shadow *ngFor="let item of pendingData">
        <ion-row>
          <ion-col class="col-heading">
            Date
          </ion-col>
          <ion-col class="col-heading">
            Type
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="col-content">{{item.Date}}</ion-col>
          <ion-col class="col-content">{{item.RequestType}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="col-heading">
            Status
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="col-content" [ngClass]="{'pending' : item.Status === 'Pending', 'rejected' : item.Status === 'Rejected', 'approve' : item.Status === 'Approved'}">
            <!-- <ion-icon [ngClass]="{'approve' : item.Status === 'Approved'}" *ngIf="item.Status === 'Approved'" name="md-checkmark-circle"></ion-icon>
            <ion-icon [ngClass]="{'pending' : item.Status === 'Pending'}" *ngIf="item.Status === 'Pending'" name="md-clock"></ion-icon>
            <ion-icon [ngClass]="{'rejected' : item.Status === 'Rejected'}" *ngIf="item.Status === 'Rejected'" name="md-close-circle"></ion-icon> -->
            {{item.Status}}
          </ion-col>
          <ion-col text-right>
            <button (click)="ViewDetail(item)" ion-button outline button-mini color="light-gray">View Details</button>
          </ion-col>
        </ion-row>
      </ion-list>
      <ion-infinite-scroll *ngIf="page !== -1" (ionInfinite)="paginate($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-template>
  </ng-template>
</ion-content>