<ion-header>
	<ion-navbar color="primary">
		<ion-title>{{title}}</ion-title>
	</ion-navbar>
</ion-header>
<ion-header no-border>
	<ion-toolbar ion-text color="primary">
		<ion-title>{{title}}</ion-title>
		<ion-buttons end>
			<button color="light" ion-button outline (click)="dismiss(null)">
				Close
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content no-padding *ngIf="participants.User !==-1">
	<ion-list>
		<ion-item-divider color="light"></ion-item-divider>
		<ion-item (click)="openSavedMedia()">
			<ion-icon name="archive" item-start color="pickup"></ion-icon>
			Saved Media
			<ion-icon name="ios-arrow-forward" item-end></ion-icon>
		</ion-item>
		<ion-item-divider color="light">Participants</ion-item-divider>

		<ion-item *ngFor="let participant of participants.User">
			{{participant.User}}
		</ion-item>
	</ion-list>
	<ion-item-divider color="light"></ion-item-divider>
	<ion-list [hidden]="closeButton" *ngIf="participants.StatusID === 1">
		<ion-item (click)="closeGroup()" class="close-topic">
			<h2 color="danger">Close Group</h2>
		</ion-item>
	</ion-list>
	<div class="background-grey" *ngIf="participants.StatusID !== 0">
		<ion-item-divider color="light"></ion-item-divider>
		<p>
			Created: {{participants.CreationDate_UTC | timeAge}}
		</p>
		<p *ngIf="participants.StatusID === 1">
			Due: {{participants.DueDate_UTC | timeAge}}
		</p>
		<p *ngIf="participants.StatusID === 2">
			Closed: {{participants.ClosedDate_UTC | timeAge}}
		</p>
	</div>
</ion-content>