<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>4208850060-1t0b7fivv0c7ni4u3padvks82jvqh4lk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4208850060-1t0b7fivv0c7ni4u3padvks82jvqh4lk</string>
	<key>API_KEY</key>
	<string>AIzaSyBEWas7m5rPrNc4PTk6rC8gMAnFvRvTiOc</string>
	<key>GCM_SENDER_ID</key>
	<string>4208850060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.illusionmessenger.app</string>
	<key>PROJECT_ID</key>
	<string>illusion-messenger</string>
	<key>STORAGE_BUCKET</key>
	<string>illusion-messenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4208850060:ios:51618ee5774c3884</string>
	<key>DATABASE_URL</key>
	<string>https://illusion-messenger.firebaseio.com</string>
</dict>
</plist>