<ion-header>
  <modal-toolbar [title]="'Common._EditProfile_' | translate" (dismiss)="dismiss($event)"></modal-toolbar>
</ion-header>
<ion-content padding="">
  <form [formGroup]="editProfileForm" (ngSubmit)="update()">
    <ion-list box-shadow>
      <ion-row>
        <ion-col>
          <ion-item no-lines>
            <ion-input formControlName="official_email" type="email" placeholder="Official email" name="official_email"></ion-input>
          </ion-item>
          <div class="error-message-block" *ngIf="editProfileForm.controls.official_email.errors && (editProfileForm.controls.official_email.dirty || editProfileForm.controls.official_email.touched)">
            <span *ngIf="editProfileForm.controls.official_email.errors.pattern">Invalid email address</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-lines>
            <ion-input formControlName="personal_email" type="email" placeholder="Personal Email" name="personal_email"></ion-input>
          </ion-item>
          <div class="error-message-block" *ngIf="editProfileForm.controls.official_email.errors && (editProfileForm.controls.official_email.dirty || editProfileForm.controls.official_email.touched)">
            <span *ngIf="editProfileForm.controls.official_email.errors.pattern">Invalid email address</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-lines>
            <ion-input required minLength="10" maxLength="10" formControlName="mobile_number" type="tel" placeholder="Mobile Number"
              name="mobile_number"></ion-input>
          </ion-item>
          <div class="error-message-block" *ngIf="editProfileForm.controls.mobile_number.errors && (editProfileForm.controls.mobile_number.dirty || editProfileForm.controls.mobile_number.touched)">
            <span *ngIf="editProfileForm.controls.mobile_number.errors.required">Mobile Number is required</span>
            <span *ngIf="editProfileForm.controls.mobile_number.errors.minlength">Mobile Number should be of 10 digits</span>
            <span *ngIf="editProfileForm.controls.mobile_number.errors.maxlength">Mobile Number should be of 10 digits
              max</span>
            <span *ngIf="editProfileForm.controls.mobile_number.errors.pattern">Invalid mobile number</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-lines>
            <ion-input required minLength="10" maxLength="10" formControlName="emrgancy_number" type="tel" placeholder="Emergancy Number"
              name="emrgancy_number"></ion-input>
          </ion-item>
          <div class="error-message-block" *ngIf="editProfileForm.controls.emrgancy_number.errors && (editProfileForm.controls.emrgancy_number.dirty || editProfileForm.controls.mobile_number.touched)">
            <span *ngIf="editProfileForm.controls.emrgancy_number.errors.required">Mobile Number is required</span>
            <span *ngIf="editProfileForm.controls.emrgancy_number.errors.minlength">Mobile Number should be of 10
              digits</span>
            <span *ngIf="editProfileForm.controls.emrgancy_number.errors.maxlength">Mobile Number should be of 10
              digits
              max</span>
            <span *ngIf="editProfileForm.controls.emrgancy_number.errors.pattern">Invalid mobile number</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item margin-bottom no-lines>
            <ion-input [readonly]="aadharNoExist" required minLength="12" maxLength="12" formControlName="aadhar_number"
              type="tel" placeholder="Aadhar Number" name="aadhar_number"></ion-input>
          </ion-item>
          <div class="error-message-block" *ngIf="editProfileForm.controls.aadhar_number.errors && (editProfileForm.controls.aadhar_number.dirty || editProfileForm.controls.aadhar_number.touched)">
            <span *ngIf="editProfileForm.controls.aadhar_number.errors.required">Aadhar Number is required</span>
            <span *ngIf="editProfileForm.controls.aadhar_number.errors.minlength">Aadhar Number should be of 12 digits</span>
            <span *ngIf="editProfileForm.controls.aadhar_number.errors.maxlength">Aadhar Number should be of 12 digits
              max</span>
            <span *ngIf="editProfileForm.controls.aadhar_number.errors.pattern">Invalid aadhar number</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-grid no-padding>
      <ion-row>
        <ion-col>
          <button border-radius ion-button block type="submit" [disabled]="!editProfileForm.valid">
            Update
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>