<ion-header>
  <modal-toolbar [title]="'Common._EditProfile_' | translate" (dismiss)="dismiss($event)"></modal-toolbar>
</ion-header>
<ion-content padding="">
  <form [formGroup]="editProfileForm" (ngSubmit)="update()">
    <ion-list>
      <ion-item>
        <ion-label ion-text color="primary" floating>
          Code
        </ion-label>
        <ion-input formControlName="code" autofocus required type="text" placeholder="Code" name="code"></ion-input>
      </ion-item>
      <div class="error-message-block" *ngIf="editProfileForm.controls.code.errors && (editProfileForm.controls.code.dirty || editProfileForm.controls.code.touched)">
        <span *ngIf="editProfileForm.controls.code.errors.required">Code is required</span>
      </div>
      <ion-item>
        <ion-label ion-text color="primary" floating>
          Name
        </ion-label>
        <ion-input formControlName="name" autofocus required type="text" placeholder="Name" name="name"></ion-input>
      </ion-item>
      <div class="error-message-block" *ngIf="editProfileForm.controls.name.errors && (editProfileForm.controls.name.dirty || editProfileForm.controls.name.touched)">
        <span *ngIf="editProfileForm.controls.name.errors.required">Name is required</span>
      </div>
      <ion-item>
        <ion-label ion-text color="primary" floating>
          Official Email
        </ion-label>
        <ion-input formControlName="official_email" type="email" placeholder="Official email" name="official_email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label ion-text color="primary" floating>
          Personal Email
        </ion-label>
        <ion-input formControlName="personal_email" type="email" placeholder="Personal Email" name="personal_email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label ion-text color="primary" floating>
          Mobile Number
        </ion-label>
        <ion-input required minLength="10" maxLength="10" formControlName="mobile_number" type="tel" placeholder="Mobile Number"
          name="mobile_number"></ion-input>
      </ion-item>
      <div class="error-message-block" *ngIf="editProfileForm.controls.mobile_number.errors && (editProfileForm.controls.mobile_number.dirty || editProfileForm.controls.mobile_number.touched)">
        <span *ngIf="editProfileForm.controls.mobile_number.errors.required">Mobile Number is required</span>
        <span *ngIf="editProfileForm.controls.mobile_number.errors.minlength">Mobile Number should be of 10 digits</span>
        <span *ngIf="editProfileForm.controls.mobile_number.errors.maxlength">Mobile Number should be of 10 digits max</span>
        <span *ngIf="editProfileForm.controls.mobile_number.errors.pattern">Invalid mobile number</span>
      </div>
      <ion-item>
        <ion-label ion-text color="primary" floating>
          Emergancy Contact Number
        </ion-label>
        <ion-input required minLength="10" maxLength="10" formControlName="emrgancy_number" type="tel" placeholder="Emergancy Number"
          name="emrgancy_number"></ion-input>
      </ion-item>
      <div class="error-message-block" *ngIf="editProfileForm.controls.emrgancy_number.errors && (editProfileForm.controls.emrgancy_number.dirty || editProfileForm.controls.mobile_number.touched)">
        <span *ngIf="editProfileForm.controls.emrgancy_number.errors.required">Mobile Number is required</span>
        <span *ngIf="editProfileForm.controls.emrgancy_number.errors.minlength">Mobile Number should be of 10 digits</span>
        <span *ngIf="editProfileForm.controls.emrgancy_number.errors.maxlength">Mobile Number should be of 10 digits max</span>
        <span *ngIf="editProfileForm.controls.emrgancy_number.errors.pattern">Invalid mobile number</span>
      </div>
      <ion-item>
        <ion-label ion-text color="primary" floating>
          Aadhar Number
        </ion-label>
        <ion-input required minLength="12" maxLength="12" formControlName="aadhar_number" type="tel" placeholder="Mobile Number"
          name="aadhar_number"></ion-input>
      </ion-item>
      <div class="error-message-block" *ngIf="editProfileForm.controls.mobile_number.errors && (editProfileForm.controls.mobile_number.dirty || editProfileForm.controls.mobile_number.touched)">
        <span *ngIf="editProfileForm.controls.aadhar_number.errors.required">Aadhar Number is required</span>
        <span *ngIf="editProfileForm.controls.aadhar_number.errors.minlength">Aadhar Number should be of 12 digits</span>
        <span *ngIf="editProfileForm.controls.aadhar_number.errors.maxlength">Aadhar Number should be of 12 digits max</span>
        <span *ngIf="editProfileForm.controls.aadhar_number.errors.pattern">Invalid aadhar number</span>
      </div>
    </ion-list>
    <ion-grid padding>
      <ion-row>
        <ion-col>
          <button ion-button block type="submit" [disabled]="!editProfileForm.valid">
            Update
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>