<ion-header>
  <ion-toolbar ion-text color="casestatus">
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button color="light" ion-button outline (click)="dismiss(null)">
        close
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-icon name="ios-medical" item-start></ion-icon>
        {{item.Patient}}
        <ion-note item-end>Patient</ion-note>
      </ion-item>
      <ion-item>
        <ion-icon name="ios-calendar" item-start></ion-icon>
        {{item.formatedDispatchDate}}
        <ion-note item-end>Dispatch Date</ion-note>
      </ion-item>
      <ion-item>
        <ion-icon name="ios-bus" item-start></ion-icon>
        {{item.JobDeliveryMode}}
        <ion-note item-end>Delivery Mode</ion-note>
      </ion-item>
      <ion-item-group>
          <ion-item-divider *ngIf="item.JobDeliveryMode === 'Delivery Person'" color="light">
            {{item.JobDeliveryMode}}
          </ion-item-divider>
        <ion-item>
          <ion-icon name="ios-person" item-start></ion-icon>
          {{item.DeliveryBoyEmployee}}
          <ion-note item-end>Person Name</ion-note>
        </ion-item>
        <ion-item (click)="callNumber(item.MobileNo)">
          <ion-icon name="ios-call" item-start></ion-icon>
          {{item.MobileNo}}
          <ion-note item-end>Mobile Number</ion-note>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider *ngIf="item.JobDeliveryMode == 'Courier'" color="light">
          {{item.JobDeliveryMode}}
        </ion-item-divider>
        <ion-item>
          <ion-icon name="ios-document" item-start></ion-icon>
          {{item.Courier}}
          <ion-note item-end>Courier</ion-note>
        </ion-item>
        <ion-item (click)="openURL(item.TrackingURL)">
          <ion-icon name="logo-steam" item-start></ion-icon>
          {{item.TrackingNo}}
          <ion-note item-end>Tracking No</ion-note>
        </ion-item>
      </ion-item-group>
    </ion-list>
  </ion-card>
</ion-content>