<ion-header color="primary">
        <header [title]="getTitle()" [buttons]="[{ icon: 'flash', name: 'flash'}]"
        (buttonClicked)="addFlash($event)"></header>
<internet-status></internet-status>
</ion-header> 
<ion-content>
<flash-news [flashNews]="flashNews"></flash-news>
<ion-item-divider color="light">
</ion-item-divider>
<ion-row *ngIf="data">
    <ion-col (click)="openTopics($event, day)" col-6 *ngFor="let day of data | keys">
        <div class="wrapper">
            <div class="title" [ngClass]="day">
                {{days[day].label}}
            </div>
            <div class="value">
                {{data[day]}}
            </div>
        </div>
    </ion-col>
</ion-row>
</ion-content>
