attachment {
    label {
        display: block;
    }
    ion-row {
        &.attachments {
            button {
                &.button-md {
                    width: 100%;
            border-radius: 5px;
                    text-transform: capitalize;
                    .button-inner {
                        flex-flow: column;
                    }
                }
            }
        }
        button.upload {
            width: 150px;
            height: 30px;
            border-radius: 5px;
            overflow: hidden;
            text-transform: capitalize;
            margin: 20px;
            position: relative;
        }
        button.upload input {
            position: absolute;
            display: block !important;
            width: 157px !important;
            height: 57px !important;
            opacity: 0 !important;
            overflow: hidden !important;
        }
    }
    .attachment-container {
            display: table !important;
            justify-content: center !important  ;
        .attachment-thumb {
            position: relative;
            width: 102px;
            height: 102px;
            float: left;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin: 0 0 5px 5px;
            ion-icon {
                position: absolute;
                z-index: 1;
                right: 0;
                width: 20px;
                height: 20px;
                top: 0;
                text-align: center;
                font-size: 2em;
            }
            ion-img {
                width: 90px;
                height: 90px;
            }
        }
    }
}