<ion-row class="attachments" *ngIf="editable && (!isBrowser)">
  <ion-col showWhen="android" col-4>
    <button block ion-button color="primary" (click)="capture('file')">
      <div>
        <ion-icon name="ios-document"></ion-icon>
        <label>
          Choose File
        </label>
      </div>
    </button>
  </ion-col>
  <ion-col>
    <button block ion-button color="primary" (click)="capture('image')">
      <div>
        <ion-icon name="ios-image"></ion-icon>
        <label>
          Gallery
        </label>
      </div>
    </button>
  </ion-col>
  <ion-col>
    <button block ion-button color="primary" (click)="capture('camera')">
      <div>
        <ion-icon name="ios-camera"></ion-icon>
        <label>
          Camera
        </label>
      </div>
    </button>
  </ion-col>
</ion-row>
<ion-row *ngIf="isBrowser">
  <button ion-button icon-start class="upload">
    <!-- file format .xlsx,.xls,.doc,.docx,.ppt,.pptx,.txt,.pdf,  -->
    <input type="file" accept="image/*" class="upload" (change)="uplaodFile($event)">
    <ion-icon name="ios-document"></ion-icon>
    Choose File
  </button>
</ion-row>
<div class="attachment-progress">
  <progress-bar [progress]="progresses[UUID]" *ngFor="let UUID  of progresses | keys"></progress-bar>
</div>
<div class="attachment-container" *ngIf="attachments">
  <div class="attachment-thumb" *ngFor="let attachment of attachments;let i = index;">
    <ion-icon name="ios-trash" (click)="removeAttachment(i)" color="danger" *ngIf="editable"></ion-icon>
    <img [src]="attachment.VirtualPath" width="90" height="90" (click)="openAttachment(attachment.VirtualPath)" />
  </div>
</div>