<ion-row class="attachments" *ngIf="editable && (!isBrowser)">
  <ion-col showWhen="android" >
    <button small ion-button icon-start color="responsible" (click)="capture('file')">
       <div>
          <ion-icon name="ios-document"></ion-icon>
          Choose File
       </div>
    </button>
  </ion-col>
  <ion-col>
    <button small ion-button icon-start color="light-orange" (click)="capture('image')">
  <div>
      <ion-icon name="ios-image"></ion-icon>
      Gallery
  </div>
    </button>
  </ion-col>
  <ion-col padding-bottom>
    <button small  ion-button icon-start color="primary" (click)="capture('camera')">
      <div>
    <ion-icon name="ios-camera"></ion-icon>
    Camera
      </div>
    </button>
  </ion-col>
</ion-row>
<ion-row *ngIf="editable && isBrowser">
  <button ion-button icon-start class="upload">
    <!-- file format   -->
    <input type="file" accept=".xlsx,.xls,.doc,.docx,.ppt,.pptx,.txt,.pdf,image/*" class="upload" (change)="uplaodFile($event)">
    <ion-icon name="ios-document"></ion-icon>
    Choose File
  </button>
</ion-row>
<div class="attachment-progress">
  <progress-bar [progress]="progresses[UUID]" *ngFor="let UUID  of progresses | keys"></progress-bar>
</div>
<div class="attachment-container" *ngIf="attachments">
  <div class="attachment-thumb" *ngFor="let attachment of attachments;let i = index;">
    <ion-icon name="ios-trash" (click)="removeAttachment(i)" color="danger" *ngIf="editable"></ion-icon>
      <img *ngIf="attachment.FileExtension === 'pdf'" src="assets/img/pdf.png" (click)="openAttachment(attachment.VirtualPath)" width="90"
        height="90">
      <img *ngIf="attachment.FileExtension === 'png' || attachment.FileExtension === 'jpeg' || attachment.FileExtension === 'jpg'"
        [src]="attachment.VirtualPath" width="90" height="90" (click)="openAttachment(attachment.VirtualPath)" />
      <img *ngIf="attachment.FileExtension === 'doc' || attachment.FileExtension === 'docx'" src="assets/img/doc_icon.png" (click)="openAttachment(url.VirtualPath)"
        width="90" height="90">
      <img *ngIf="attachment.FileExtension === 'xls' || attachment.FileExtension === 'xlsx'" src="assets/img/xls.jpg" (click)="openAttachment(url.VirtualPath)"
        width="90" height="90">
      <img *ngIf="attachment.FileExtension === 'ppt' || attachment.FileExtension === 'pptx'" src="assets/img/ppt.png" (click)="openAttachment(url.VirtualPath)"
        width="90" height="90">
      <img *ngIf="attachment.FileExtension === 'txt'" src="assets/img/txt.png" (click)="openImage(url.VirtualPath)" width="90"
        height="90">
  </div>
</div>