<ion-header no-border (touchstart)="closeKeyboard($event)">
  <header [title]="title" [buttons]="[{icon:'archive'}]" (buttonClicked)="openSavedMedia($event)"></header>
  <ion-toolbar class="sub-header">
    <ion-title>{{getSubTitle()}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="chat" delegate-handle="chatScroll" (touchstart)="closeKeyboard($event)">
  <div class="message-list">
    <div id="noMore" class="no-more" *ngIf="showNoMoreMessages">
      <span *ngIf="hasInternet || data.firstMessageKey === firstMessageKey">{{'Common._NothingToShow_' | translate}}</span>
      <span *ngIf="hasInternet === false && data.firstMessageKey !== firstMessageKey">{{'ChatScreen._OfflineOldMessage_' | translate}}</span>
    </div>
    <ion-infinite-scroll *ngIf="messagesLoaded" [hidden]="showNoMoreMessages" (ionInfinite)="paginate($event)" position="top">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <chat-bubble [id]="'message-'+message.key" *ngFor="let message of messages | orderBy:'CreateAt'" class="message-wrapper"
      [message]="message" [userID]="userID" [topicCode]="topicCode" [users]="chatUsers" [myLanguage]="myLanguage" (press)="openReading($event, message, false)"></chat-bubble>
  </div>
  <div class="typing-container">
    <div class="typing" *ngFor="let typingUserId of userTyping | keys" [hidden]="typingUserId === userID || !isWithinRange(userTyping[typingUserId])">{{'ChatScreen._Typing_' | translate:{name:getName(typingUserId)} }}</div>
  </div>
</ion-content>
<ion-footer [keyboardAttach]="content" class="bar-stable footer-chat item-input-inset">
  <ng-container *ngIf="hasInternet && messagesLoaded === false">
    <ion-spinner name="dots"></ion-spinner>
  </ng-container>
  <ng-container *ngIf="hasInternet && messagesLoaded && aboutToRecord === false">
    <button ion-button clear icon-only (click)="openUploadOptions()">
      <ion-icon name="ios-add-outline"></ion-icon>
    </button>

    <label class="item-input-wrapper" [ngClass]="{'send': message.trim().length > 0}">
      <!-- fz-elastic -->
      <textarea autocomplete="on" [disabled]="translating" autocorrect="on" fz-elastic rows="1" #messageInput [(ngModel)]="message"
        dir="auto" (keyup)="keyup($event)" (focus)="onFocus($event)" (blur)="onBlur($event)"></textarea>
    </label>

    <span *ngIf="message.trim().length > 0">
      <button (click)="sendTextMessage($event)" [disabled]="translating" class="send-button" round ion-button small>
        <ng-container *ngIf="translating;else show_send">
          <ion-spinner name="dots"></ion-spinner>
        </ng-container>
        <ng-template #show_send>
          {{'ChatScreen._Send_' | translate}}
        </ng-template>
      </button>
    </span>
    <span *ngIf="!message || message.trim().length === 0">
      <button (click)="captureImage()" clear ion-button icon-only>
        <ion-icon name="ios-camera-outline"></ion-icon>
      </button>
      <button class="buttons-seperator" ion-button clear icon-only>
        <ion-icon name="md-more"></ion-icon>
      </button>
      <button (click)="captureAudio()" ion-button clear icon-only>
        <ion-icon name="ios-mic-outline"></ion-icon>
      </button>
    </span>
  </ng-container>
  <ng-container *ngIf="hasInternet && aboutToRecord === true">
    <ion-grid no-padding class="recording">
      <ion-row no-padding align-items-center>
        <ion-col text-start align-self-center no-padding>
          <button ion-button clear icon-only [color]="recordingInProgress?'primary':'dark'">
            <ion-icon name="ios-mic"></ion-icon>
          </button>
          <span class="timer">&nbsp;&nbsp;{{getRecordTime()}}</span>
        </ion-col>
        <ion-col text-end align-self-center no-padding>
          <button ion-button small [hidden]="recordingInProgress" (click)="startRecording()" color="secondary">
            {{'ChatScreen._Record_' | translate}}
          </button>
          <button ion-button small [hidden]="recordingInProgress" (click)="closeRecording()">
            {{'ChatScreen._Close_' | translate}}
          </button>
          <button ion-button small [hidden]="!recordingInProgress" (click)="stopRecording()">
            {{'ChatScreen._Send_' | translate}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  <ng-container *ngIf="hasInternet === false">
    <span text-center text-small>
      {{'ChatScreen._OfflineMessageSend_' | translate}}
    </span>
  </ng-container>
</ion-footer>

<div class="file-uploader-progress" *ngIf="progressPercent > 0">
  <div class="progress-outer">
    <div class="progress-inner" [style.width]="progressPercent + '%'">
      {{progressPercent}}%
    </div>
  </div>
</div>