<ion-header no-border (touchstart)="closeKeyboard($event)">
  <header [title]="getTitle()" [hideTitle]="headerButtons.length > 2" [subTitle]="userTypingString" [buttons]="headerButtons"
    (buttonClicked)="headerOptions($event)"></header>
  <ion-toolbar class="group-header">
    <ion-title>{{group_name}} {{this.subSubTitle}}</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar class="sub-header" *ngIf="data && data.StatusID !== 0">
    <ion-title>{{getSubTitle()}}</ion-title>
  </ion-toolbar> -->
</ion-header>
<ion-content class="chat has-bottom" delegate-handle="chatScroll" (touchstart)="closeKeyboard($event)">
  <div class="message-list">
    <div id="noMore" class="no-more" *ngIf="showNoMoreMessages">
      <span *ngIf="hasInternet || data.firstMessageKey === firstMessageKey">{{'Common._NothingToShow_' | translate}}</span>
      <span *ngIf="hasInternet === false && data.firstMessageKey !== firstMessageKey">{{'ChatScreen._OfflineOldMessage_'
        | translate}}</span>
    </div>
    <ion-infinite-scroll *ngIf="messagesLoaded" [hidden]="showNoMoreMessages" (ionInfinite)="paginate($event)" position="top">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ng-container *ngFor="let message of messages;trackBy:getTrackByField | orderBy:'CreateAt'">
      <chat-bubble (tap)="deselectOptions($event)" (press)="getOptions($event,message)" [id]="'message-'+message.key"
        class="message-wrapper" [message]="message" [userID]="userID" [topicID]="topicID" [topicCode]="topicCode"
        [groupID]="groupID" [groupCode]="groupCode" [users]="chatUsers" [myLanguage]="myLanguage" [responsibleUserID]="responsibleUserID">
      </chat-bubble>
    </ng-container>
    <!--   -->
  </div>
  <!-- <div class="typing-container">
    <div class="typing" *ngFor="let typingUserId of userTyping | keys" [hidden]="typingUserId == userID || !isWithinRange(userTyping[typingUserId])">
      {{'ChatScreen._Typing_' | translate:{name:getName(typingUserId)} }}
    </div>
  </div> -->
</ion-content>
<ion-footer [keyboardAttach]="content" class="bar-stable footer-chat item-input-inset">
  <ng-container *ngIf="hasInternet && messagesLoaded === false">
    <ion-spinner name="dots"></ion-spinner>
  </ng-container>
  <ng-container *ngIf="data && data.StatusID === 2;else chatOpened">
    Cannot send messages on Closed Topic
  </ng-container>
  <ng-template #chatOpened>

    <ng-container *ngIf="hasInternet && messagesLoaded && aboutToRecord === false">
      <div class="fixed-outside" *ngIf="showUsers">
        <ion-list class="user-list">
          <ion-item [ngClass]="{'active' : i == arrowKey}" (click)="selectedUser(user)" *ngFor="let user of userList; let i = index">
            {{user.User}}
          </ion-item>
        </ion-list>
      </div>
      <div>
        <button *ngIf="!isBrowser && !hideWhenReply" ion-button clear icon-only (click)="openUploadOptions()">
          <ion-icon name="ios-add-outline"></ion-icon>
        </button>
        <div *ngIf="isBrowser && !hideWhenReply" style="display: flex;">
          <ion-icon color="danger" class="upload-btn" name="images"></ion-icon>
          <input type="file" name="file" id="file" class="inputfile" accept="image/*" (change)="handleImageFiles($event)" />
        </div>

        <label class="item-input-wrapper" [ngClass]="{'send': message.trim().length > 0}">
          <!-- fz-elastic -->
          <textarea autocomplete="on" autocorrect="on" fz-elastic rows="1" #messageInput [(ngModel)]="message" dir="auto"
            (keyup)="keyup($event)" (keypress)="keyboardKey($event)" (focus)="onFocus($event)" (blur)="onBlur($event)"></textarea>
        </label>

        <span *ngIf="message.trim().length > 0">
          <button (click)="sendTextMessage($event)" class="send-button" round ion-button small>
            {{'ChatScreen._Send_' | translate}}
          </button>
        </span>
        <span *ngIf="!isBrowser && !hideWhenReply">
          <span *ngIf="!message || message.trim().length === 0">
            <button (click)="captureImage()" clear ion-button icon-only>
              <ion-icon name="ios-camera-outline"></ion-icon>
            </button>
            <button class="buttons-seperator" ion-button clear icon-only>
              <ion-icon name="md-more"></ion-icon>
            </button>
            <button (click)="captureAudio()" ion-button clear icon-only>
              <ion-icon name="ios-mic-outline"></ion-icon>
            </button>
          </span>
        </span>
      </div>
    </ng-container>
    <ng-container *ngIf="hasInternet && aboutToRecord === true">
      <ion-grid no-padding class="recording">
        <ion-row no-padding align-items-center>
          <ion-col text-start align-self-center no-padding>
            <button ion-button clear icon-only [color]="recordingInProgress?'primary':'dark'">
              <ion-icon name="ios-mic"></ion-icon>
            </button>
            <span class="timer">&nbsp;&nbsp;{{getRecordTime()}}</span>
          </ion-col>
          <ion-col text-end align-self-center no-padding>
            <button ion-button small [hidden]="recordingInProgress" (click)="startRecording()" color="secondary">
              {{'ChatScreen._Record_' | translate}}
            </button>
            <button ion-button small [hidden]="recordingInProgress" (click)="closeRecording()">
              {{'ChatScreen._Close_' | translate}}
            </button>
            <button ion-button small [hidden]="!recordingInProgress" (click)="stopRecording()">
              {{'ChatScreen._Send_' | translate}}
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
    <ng-container *ngIf="hasInternet === false">
      <span text-center text-small>
        {{'ChatScreen._OfflineMessageSend_' | translate}}
      </span>
    </ng-container>
  </ng-template>
</ion-footer>


<div class="reply-to" *ngIf="replyTo">
  <ion-row>
    <ion-col *ngIf="replytoImg">
      <img class="reply-img" [src]="replytoImg" alt="">
    </ion-col>
    <ion-col *ngIf="replytoText" col-11>
      {{replytoText}}
    </ion-col>
    <ion-col col-1 class="close-icon">
      <ion-icon (click)="closeReply($event)" name="close"></ion-icon>
    </ion-col>
  </ion-row>
</div>

<div class="file-uploader-progress" *ngIf="progressPercent > 0">
  <div class="progress-outer">
    <div class="progress-inner" [style.width]="progressPercent + '%'">
      {{progressPercent}}%
    </div>
  </div>
</div>