<ion-header no-border>
  <header [title]="title" [buttons]="[{icon: 'ios-close', name: 'close'}]" (buttonClicked)="dismiss($event)"></header>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingIcon="arrow-round-down" pullingText="Pull to refresh" refreshingSpinner="crescent" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <empty *ngIf="!topics"></empty>
  <ng-container *ngIf="topics">
    <topic [group_id]="topic.GroupID" type="ActiveTopicList" [topic]="topic" *ngFor="let topic of topics;"></topic>
  </ng-container>
</ion-content>