<ion-header no-border>
    <header [title]="'HomeScreen._Home_' | translate"></header>
</ion-header>
<ion-content no-padding>
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content pullingIcon="arrow-round-down" pullingText="Pull to refresh" refreshingSpinner="crescent" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <center-spinner *ngIf="groups !== -1 && groups.length === 0;else groups_template"></center-spinner>
    <empty *ngIf="groups === -1"></empty>
    <ng-template #groups_template>
        <ion-list *ngIf="groups !== -1">
            <ion-item *ngFor="let group of groups" (click)="openGroup(group.GroupID,group.Group)">
                <h2 >
                    {{group.Group}}
                </h2>
                <ion-row>
                    <ion-col class="activetopics" >
                            {{group.ActiveTopics}} topics pending
                    </ion-col>
                    <ion-col text-end class="overdue" >
                            {{group.OverDueTopics}} topics due
                    </ion-col>
                </ion-row>
               
                <ion-badge item-end *ngIf="getBadge(group.GroupCode)">{{badges[group.GroupCode]}}</ion-badge>
                <ion-icon name="ios-arrow-forward" item-end></ion-icon>
            </ion-item>
        </ion-list>
    </ng-template>
    <button ion-button full (click)=" registerDevice(123) ">RegisterDevice</button>
</ion-content>