<ion-header no-border>
    <header [title]="'HomeScreen._Home_' | translate" [buttons]="[{icon:'ios-flash',name:'flash'}]" (buttonClicked)="headerButtonClicked($event)"></header>
    <div class="device-register" [ngSwitch]="deviceRegsiter">
        <span class="gray" *ngSwitchCase="0">Not Connected</span>
        <span class="pickup" *ngSwitchCase="1">Connecting</span>
        <span class="secondary" *ngSwitchCase="2">Last connected at {{connectedTime | time}}</span>
    </div>
</ion-header>
<ion-content no-padding>
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content pullingIcon="arrow-round-down" pullingText="Pull to refresh" refreshingSpinner="crescent" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <center-spinner *ngIf="dataFetched === false;else data_template"></center-spinner>
    <ng-template #data_template>
        <flash-news [flashNews]="flashNews"></flash-news>
        <ion-segment [(ngModel)]="selectedTab" color="theme" padding mode="ios">
            <ion-segment-button [value]="tab.icon" *ngFor="let tab of tabs">
                <ion-icon [name]="tab.icon"></ion-icon>
            </ion-segment-button>
        </ion-segment>
        <div padding-horizontal [ngSwitch]="selectedTab">
            <ion-list>
                <ion-item-divider color="light" [innerText]="getSelectedTabName()"></ion-item-divider>
                <ng-container *ngSwitchCase="'star'">
                    <topic [group_id]="topic.GroupID" type="ActiveTopicList" [topic]="topic" *ngFor="let topic of data.Assigned_To_Me;"></topic>
                </ng-container>
                <ng-container *ngSwitchCase="'people'">
                    <topic [group_id]="topic.GroupID" type="ActiveTopicList" [topic]="topic" *ngFor="let topic of data.Created_By_Me;"></topic>
                </ng-container>
                <ng-container *ngSwitchCase="'list-box'">
                    <ion-item *ngFor="let group of data.Groups_Wise" (click)="openGroup(group.GroupID,group.Group)">
                        <h2>
                            {{group.Group}}
                            <span float-right>
                                <ion-badge *ngIf="getBadge(group.GroupCode)">{{badges[group.GroupCode]}}</ion-badge>
                            </span>
                        </h2>
                        <p>
                            <ion-row>
                                <ion-col text-start class="activetopics" *ngIf="group.ActiveTopics > 0">
                                    <ion-icon name="ios-alarm"></ion-icon> {{group.ActiveTopics}} {{'due' + (group.ActiveTopics > 1 ? 's' : '')}}
                                </ion-col>
                                <ion-col text-center class="responsibletopics" *ngIf="group.ResponsibleCount && group.ResponsibleCount > 0">
                                    <ion-icon name="ios-star"></ion-icon> {{group.ResponsibleCount}} assigned
                                </ion-col>
                                <ion-col text-end class="overdue" *ngIf="group.OverDueTopics > 0">
                                    <ion-icon name="ios-alert"></ion-icon> {{group.OverDueTopics}} {{'over-due' + (group.OverDueTopics > 1 ? 's' : '')}}
                                </ion-col>
                            </ion-row>
                        </p>
                        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
                    </ion-item>
                </ng-container>
                <ng-container *ngSwitchCase="'flag'">
                    <topic [group_id]="topic.GroupID" type="ActiveTopicList" [topic]="topic" *ngFor="let topic of data.Priorty;"></topic>
                </ng-container>
                <ng-container *ngSwitchCase="'paper'">
                    <topic [group_id]="topic.GroupID" type="ActiveTopicList" [topic]="topic" *ngFor="let topic of data.Topic_Wise;"></topic>
                </ng-container>
            </ion-list>
        </div>
    </ng-template>
</ion-content>