page-home {
    .homescreenDivision,
    .homescreenDivision1 {
        display: flex;
        justify-content: center;
    }
    .homescreenDivision {
        min-height: 25%;
    }
    .homescreenDivision1 {
        min-height: 50%;
    }
}