<ion-header>
  <header [title]="getTitle()"></header>
</ion-header>

<ion-content padding>
  <form [formGroup]="leaveApplicationForm">
    <ion-list>
      <ion-item>
        <ion-label ion-text color="primary">
          From Date
        </ion-label>
        <ion-datetime (ionChange)="compareTwoDates()" displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" formControlName="from_date"
          max="2050">
        </ion-datetime>
      </ion-item>
      <div *ngIf="error.isError" class="error-message-block">
        {{ error.errorMessage }}
     </div>
      <ion-item>
        <ion-label ion-text color="primary">
          To Date
        </ion-label>
        <ion-datetime (ionChange)="compareTwoDates()" displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" formControlName="to_date"
          max="2050">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label ion-text color="primary">
          Reporting Date
        </ion-label>
        <ion-datetime (ionChange)="getTotalLeaves()" displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY" formControlName="reporting_date"
          max="2050">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label ion-text color="primary" floating>
          No of leaves
        </ion-label>
        <ion-input (input)="getLeaves()" required formControlName="leaves" type="number" name="leaves"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Type</ion-label>
        <ion-select formControlName="leaveType">
          <ion-option required *ngFor="let type of typeList" [value]="type" (ionSelect)="getType($event)">{{type}}</ion-option>
        </ion-select>
      </ion-item>
      <div class="error-message-block" *ngIf="leaveApplicationForm.controls.leaveType.errors && (leaveApplicationForm.controls.leaveType.dirty || leaveApplicationForm.controls.leaveType.touched)">
        <span *ngIf="leaveApplicationForm.controls.leaveType.errors.required">Select leave type</span>
      </div>
      <ion-item>
        <ion-label ion-text color="primary" floating>
          Remark
        </ion-label>
        <ion-textarea formControlName="remark" type="text" name="remark"></ion-textarea>
      </ion-item>
    </ion-list>
    <button ion-button block type="submit" (click)="submit()" [disabled]="!leaveApplicationForm.valid">
      Submit
    </button>
  </form>
</ion-content>