<ion-header>
  <ion-toolbar ion-text color="primary">
    <ion-title>
      <div>Create Topic</div>
      <small>{{group_name}}</small>
    </ion-title>
    <ion-buttons end>
      <button color="light" ion-button outline (click)="dismiss(null)">
        Close
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <form [formGroup]="createForm">
      <ion-list>
        <ion-item>
          <ion-label>Make Private</ion-label>
          <ion-toggle formControlName="private" value="true" checked="true" color="secondary" mode="ios"></ion-toggle>
          <p>This will make topic visible to selected users</p>
        </ion-item>
        <ion-item>
          <ion-label floating>Topic Name</ion-label>
          <ion-input formControlName="name" type="text" placeholder="Topic Name"></ion-input>
        </ion-item>
        <div class="error-message-block" *ngIf="createForm.controls.name.errors && (createForm.controls.name.dirty || createForm.controls.name.touched)">
          <span *ngIf="createForm.controls.name.errors.required">Name is required</span>
        </div>
        <ion-item>
          <ion-label>Due Date</ion-label>
          <ion-datetime displayFormat="DD MMM YYYY, h A" formControlName="due_date" max="2050"></ion-datetime>
        </ion-item>
        <div class="error-message-block" *ngIf="createForm.controls.due_date.errors && (createForm.controls.due_date.dirty || createForm.controls.due_date.touched)">
          <span *ngIf="createForm.controls.due_date.errors?.InvalidDatetime">Due date should be more than current time</span>
        </div>
        <ion-item no-lines *ngIf="createForm.get('private').value">
          <button ion-button block (click)="addParticipants()">Add Participants</button>
        </ion-item>
        <div *ngIf="createForm.get('private').value">
          <ion-list *ngIf="!_.isEmpty(selectedParticipants)">
            <ion-list-header>
              Selected Participants
            </ion-list-header>
            <ion-item *ngFor="let userID of selectedParticipantIDs" [hidden]="isMe(userID)">
              {{getUserName(userID)}}
              <ion-icon item-end color="pickup" *ngIf="assigned === userID" name="ios-star"></ion-icon>
              <ion-icon item-end color="danger" name="ios-trash" (click)="removeParticipant(userID)"></ion-icon>
            </ion-item>
          </ion-list>
        </div>
      </ion-list>
    </form>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button (click)="submitForm()" ion-button block [disabled]="!createForm.valid || (createForm.get('private').value && selectedParticipantIDs.length === 0)">Save</button>
  </ion-toolbar>
</ion-footer>