<ion-header>
  <ion-toolbar ion-text color="primary">
    <ion-title>
      Create Topic
    </ion-title>
    <ion-buttons end>
      <button color="light" ion-button outline (click)="dismiss(null)">
        Close
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="group-header">
    <ion-title>{{group_name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <form [formGroup]="createForm">
      <ion-list>
        <ion-item>
          <ion-label>Make Private</ion-label>
          <ion-toggle formControlName="private" value="true" checked="true" color="secondary" mode="ios"></ion-toggle>
          <p>This will make topic visible to selected users</p>
        </ion-item>
        <ion-item>
          <ion-label floating>Topic Name</ion-label>
          <ion-input formControlName="name" type="text" placeholder="Topic Name"></ion-input>
        </ion-item>
        <div class="error-message-block" *ngIf="createForm.controls.name.errors && (createForm.controls.name.dirty || createForm.controls.name.touched)">
          <span *ngIf="createForm.controls.name.errors.required">Name is required</span>
        </div>
        <ion-item>
          <ion-label>Due Date</ion-label>
          <!-- [onlyValid]="getCurrentTime()" -->
          <ion-datetime picker mondayFirst="true" amPm="true"  displayFormat="DD MMM YYYY, h A" formControlName="due_date"></ion-datetime>
        </ion-item>
        <div class="error-message-block" *ngIf="createForm.controls.due_date.errors && (createForm.controls.due_date.dirty || createForm.controls.due_date.touched)">
          <span *ngIf="createForm.controls.due_date.errors?.InvalidDatetime">Due date should be more than NOW</span>
        </div>
        <ion-item no-lines *ngIf="createForm.get('private').value">
          <button ion-button block (click)="addParticipants()">Add Participants</button>
        </ion-item>
        <div *ngIf="createForm.get('private').value">
          <ion-list *ngIf="!_.isEmpty(selectedParticipants)">
            <ion-list-header>
              Selected Participants
            </ion-list-header>
            <ion-item *ngFor="let userID of selectedParticipantIDs" [hidden]="isMe(userID)">
              {{getUserName(userID)}}
              <button ion-button outline item-end color="pickup" *ngIf="responsibles && responsibles.indexOf(userID) === -1" (click)="makeResponsible(userID)">
                <ion-icon name="add-circle"></ion-icon>&nbsp; Mark Responsible
              </button>
              <button ion-button item-end color="pickup" *ngIf="responsibles && responsibles.indexOf(userID) > -1" (click)="removeResponsible(userID)">
                <ion-icon name="ios-checkmark-circle"></ion-icon>&nbsp; Marked Responsible
              </button>
              <button ion-button outline item-end color="danger" (click)="removeParticipant(userID)">
                <ion-icon name="trash"></ion-icon>&nbsp; Remove
              </button>
            </ion-item>
          </ion-list>
        </div>
      </ion-list>
    </form>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button (click)="submitForm()" ion-button block [disabled]="!createForm.valid || (createForm.get('private').value && selectedParticipantIDs.length === 0)">Save</button>
  </ion-toolbar>
</ion-footer>