page-group {
	ion-content {
		ion-grid {
			ion-item {
				ion-label {
					&.label-md {
						margin: 3px 3px 3px 0;
					}
					ion-row {
						ion-col {
							&.primary {
								color: color($colors, primary);
							}
							&.secondary {
								color: color($colors, secondary);
							}
							&.danger {
								color: color($colors, danger);
							}
							font-size:12px;
						}
					}
				}
			}
		}
	}
}