<ion-header >
  <header title={{title}}
  [buttons]="[{icon:'more',name:'options'}]" 
  (buttonClicked)="headerButtonClicked($event)"></header>
</ion-header>
<ion-content no-padding>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingIcon="arrow-round-down" pullingText="Pull to refresh" refreshingSpinner="crescent" refreshingText="Refreshing...">
    </ion-refresher-content>                                                                 </ion-refresher>
  <center-spinner *ngIf="group !== -1 && isEmpty(group);else group_template"></center-spinner>
  <empty *ngIf="group === -1"></empty>
  <ng-template #group_template>
    <ion-grid *ngIf="group !== -1">
      <ion-item-group *ngIf="group.ActiveTopicList">
        <ion-item-divider color="light">
          Active Topics
        </ion-item-divider>
         <p *ngIf="group.ActiveTopicList.length === 0" text-center>No data Found</p>   
        <ion-item *ngFor="let topic of group.ActiveTopicList" (click)="openTopic(topic)">
          <h2>
            {{topic.Topic}}
          </h2>      
             <ion-row>
                  <ion-col>
                     {{getExpiry(topic.DueDate)}}
                  </ion-col>
         </ion-row>
           <!--<ion-badge item-end *ngIf="getBadge(topic.TopicCode)">{{badges[topic.TopicCode]}}</ion-badge> -->
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </ion-item>
      </ion-item-group>

     <ion-item-group *ngIf="group.SystemTopicList">
        <ion-item-divider color="light">
          System Topics
        </ion-item-divider>
          <p *ngIf="group.SystemTopicList.length === 0"  text-center>No data Found</p>       
        <ion-item *ngFor="let topic of group.SystemTopicList" (click)="openTopic(topic)">
          <h2>
            {{topic.Topic}}
          </h2>
             <!-- <ion-badge item-end *ngIf="getBadge(topic.TopicCode)">{{badges[topic.TopicCode]}}</ion-badge> -->
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </ion-item>
      </ion-item-group>

      <ion-item-group *ngIf="group.ClosedTopicList">
        <ion-item-divider color="light">
          Closed Topics
        </ion-item-divider>
        <p *ngIf="group.ClosedTopicList.length === 0"  text-center>No data Found</p>
        <ion-item *ngFor="let topic of group.ClosedTopicList" (click)="openTopic(topic)">
          <h2>
            {{topic.Topic}}
          </h2>
          <ion-row>
            <ion-col>
              {{topic.CreationDate | amDateFormat:'YYYY/MM/DD'}}
            </ion-col>
          </ion-row>
          <!-- <ion-badge item-end *ngIf="getBadge(topic.TopicCode)">{{badges[topic.TopicCode]}}</ion-badge> -->
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </ion-item>
        <ion-item color="light" text-center (click)="closeTopic()">
              View All
        </ion-item>
      </ion-item-group> 
    </ion-grid>
  </ng-template>
</ion-content>