<ion-header>
  <header title={{title}} [buttons]="[{icon:'ios-more',name:'options'}]" (buttonClicked)="headerButtonClicked($event)"></header>
</ion-header>
<ion-content no-padding>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingIcon="arrow-round-down" pullingText="Pull to refresh" refreshingSpinner="crescent" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <center-spinner *ngIf="group !== -1 && isEmpty(group);else group_template">
  </center-spinner>
  <empty *ngIf="group === -1"></empty>
  <ng-template #group_template>
    <ion-grid *ngIf="group !== -1">
      <flash-news [flashNews]="group.FlashNews"></flash-news>
      <ion-item-group *ngIf="group.SystemTopicList" class="magin-bottom-5">
        <ion-item *ngFor="let topic of group.SystemTopicList;let i = index;" (click)="openTopic(topic, i, 'SystemTopicList')" color="light">
          <h2>
            {{topic.Topic}}
          </h2>
          <ion-badge item-end *ngIf="getBadge(topic.TopicCode)">{{getBadge(topic.TopicCode)}}</ion-badge>
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </ion-item>
      </ion-item-group>
      <ion-item-group *ngIf="group.ActiveTopicList">
        <ion-item-divider color="light">
          <!-- <ion-icon name="ios-folder-open"></ion-icon> -->
          Active Topics
          <!-- <ion-icon item-end name="ios-options" color="pickup"></ion-icon> -->
        </ion-item-divider>

        <p *ngIf="group.ActiveTopicList.length === 0" text-center>No Topics Found</p>
        <ion-item *ngFor="let topic of group.ActiveTopicList;let i = index;" (click)="openTopic(topic, i, 'ActiveTopicList')">
          <h2>
            {{topic.Topic}}
            <span float-right>
              <ion-icon name="ios-star" color="pickup" *ngIf="topic.IsResponsible"></ion-icon>
              <ion-badge *ngIf="getBadge(topic.TopicCode)">{{getBadge(topic.TopicCode)}}</ion-badge>
            </span>
          </h2>
          <p>
            <ion-row>
              <ion-col text-left class="pickup">
                Created: {{topic.CreationDate_UTC | time }}
              </ion-col>
              <ion-col text-right *ngIf="isExpired(topic.DueDate_UTC) !== null" [ngClass]="isExpired(topic.DueDate_UTC) ? 'danger' : 'secondary'">
                Due: {{topic.DueDate_UTC | time }} <i class="reschedule-count" [ngClass]="'reschedule-count-' + topic.RescheduleCount"></i>
              </ion-col>
            </ion-row>
          </p>
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </ion-item>
        <ion-item color="light" text-center (click)="viewAllClosedTopics($event)">
          View All Archived
        </ion-item>
      </ion-item-group>
    </ion-grid>
  </ng-template>
</ion-content>