page-group-options {
    ion-content {
        ion-list{
        ion-row {
            .group-name{
                font-weight: 600;
                padding: 0 10px;

            }
            .group-title{
                padding: 0 10px;
                color: color($colors,light-gray);
            }
            &.buttons-container {
                ion-col {
                    button {
                        border-radius: 5px;
                        text-transform: capitalize;
                        div {
                            label {}
                        }
                    }
                }
            }
        }
    }
            ion-list {
                ion-item {
                    &.item-md {
                        ion-label {
                            margin: 4px 0;
                            font-weight: 600;
                            h3 {
                                font-size: 1.0em;
                                color: color($colors,dark);
                            }
                            ion-badge {
                                margin-right: 2px;
                                font-style: italic;
                                font-size: 0.8em;
                            }
                            p {
                                .activity {
                                    font-size: 10px;
                                    padding: 1px;
                                    // .activity-status {
                                    //     font-weight: 600;
                                    // }
                                    // .activity-time {
                                    //     font-style: italic;
                                    // }
                                }
                            }
                        }
                    }
            }
        }
    }
}