<ion-header no-border>
	<modal-toolbar [title]="getTitle()" (dismiss)="dismiss($event)"></modal-toolbar>
</ion-header>
<ion-content padding>
	<ion-list box-shadow>
		<ion-row>
			<ion-col class="group-title">
					Group Name
			</ion-col>
		</ion-row>
		<ion-row>
				<ion-col class="group-name">
						{{group_name}}
				</ion-col>
			</ion-row>
	<ion-row class="buttons-container">
		<ion-col>
			<button block ion-button icon-start color="responsible" (click)="addFlashNews()">
				<div>
					<ion-icon name="ios-flash"></ion-icon>
					Add Flash News
				</div>
			</button>
		</ion-col>
		<ion-col>
			<button block ion-button icon-start color="light-orange" (click)="createTopic()">
				<div>
					<ion-icon name="ios-chatboxes"></ion-icon>
					Create Topic
				</div>
			</button>
		</ion-col>
	</ion-row>
</ion-list>
		<ion-list box-shadow *ngIf="userlist.UserDetail">
			<!-- <ion-list-header color="light">Participants In Group</ion-list-header> -->
						<ion-item no-lines>
							<ion-label font-bold text-left>{{userlist.UserDetail.length}} Participants</ion-label>
						</ion-item>
			<ion-item *ngFor="let user of userlist.UserDetail">
				<h3>
					{{user.User[0].User}}
					<span *ngIf="isYou(user.User[0].UserID)">(You)</span>
				</h3>
				<ion-row>
					<ion-badge border-radius *ngFor="let tag of user.Tag" [ngClass]="getTagColor(tag.TagID)">{{tag.Tag}}</ion-badge>
				</ion-row>
				<p text-left text-small small text-wrap>
					<ion-row>
						<ion-col class="activity">
							Last
							<span class="activity-status">{{user.User[0].LoginStatus}}</span>
							at
							<span class="activity-time">{{user.User[0].LastActivityDateTime  | date:'dd/MM/yyyy hh:ss:mm'}}</span>

						</ion-col>
					</ion-row>
				</p>
			</ion-item>
		</ion-list>
</ion-content>