<ion-header no-border>
	<ion-navbar color="primary">
		<ion-title>{{title}}</ion-title>
		<ion-buttons end>
			<button color="light" ion-button outline (click)="dismiss(null)">
				Close
			</button>
		</ion-buttons>
	</ion-navbar>
	<ion-toolbar class="group-header">
		<ion-title>{{group_name}}</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content padding>
	<ion-row class="buttons-container">
		<ion-col>
			<button ion-button full color="secondary" (click)="addFlashNews()">
				<div>
					<ion-icon name="ios-flash"></ion-icon>
					<label>Add Flash News</label>
				</div>
			</button>
		</ion-col>
		<ion-col>
			<button ion-button full color="primary" (click)="createTopic()">
				<div>
					<ion-icon name="ios-chatboxes"></ion-icon>
					<label>Create Topic</label>
				</div>
			</button>
		</ion-col>
	</ion-row>
	<ion-card *ngIf="userlist.UserDetail">
		<ion-list>
			<ion-list-header color="light">Participants In Group</ion-list-header>
			<ion-item *ngFor="let user of userlist.UserDetail">
				<h2>
					{{user.User[0].User}}
				</h2>
				<p text-left text-small small text-wrap>
					<ion-badge *ngFor="let tag of user.Tag" [ngClass]="getTagColor(tag.TagID)">{{tag.Tag}}</ion-badge>
				</p>
			</ion-item>
		</ion-list>
	</ion-card>
</ion-content>