<ion-header no-border>
	<ion-navbar color="primary">
		<ion-title>Options</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<ion-row>
		<button ion-button full color="secondary" (click)="addFlashNews()">Add Flash News</button>
	</ion-row>
	<ion-row>
		<button ion-button full color="primary" (click)="createTopic()">Create Topic</button>
	</ion-row>
	<ion-card *ngIf="userlist.UserDetail">
		<ion-list>
			<ion-list-header>Participants In Group</ion-list-header>
			<ion-item *ngFor="let user of userlist.UserDetail">
				<h2>
					{{user.User[0].User}}
				</h2>
				<p text-left text-small small text-wrap>
					<ion-badge *ngFor="let tag of user.Tag" [ngClass]="getTagColor(tag.TagID)">{{tag.Tag}}</ion-badge>
				</p>
			</ion-item>
		</ion-list>
	</ion-card>
</ion-content>