page-salary-slip {
    ion-grid{
        ion-row{
            ion-col{
                border: 1px solid gray;
                .col-lab{
                 font-weight: 600;
                }
                &.col{
                    text-align: center;
                }
                ion-icon{
                    color: green;
                }
                span{
                    &.download{
                        font-style: italic;
                        text-decoration: underline;
                        margin: 0px 9px;
                        color: green;
                    }
                }

            }
        }
    }
}
