<ion-header>
  <header [title]="getTitle()"></header>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingIcon="arrow-round-down" pullingText="Pull to refresh" refreshingSpinner="crescent"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <center-spinner *ngIf="!salarySlipData; else empty_template"></center-spinner>
  <ng-template #empty_template>
    <empty *ngIf="salarySlipData.length === 0;else data_template"></empty>
    <ng-template #data_template>
      <ion-grid margin-bottom *ngFor="let slip of salarySlipData" box-shadow>
        <ion-row>
          <ion-col class="sub-title">
            Date
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="value">{{slip.MonthYear}}</ion-col>
          <ion-col text-right>
            <button ion-button outline color="light-gray" button-mini (click)="download(slip.Download)">Download</button>
          </ion-col>
        </ion-row>
        <ion-row>
        </ion-row>
      </ion-grid>
      <ion-infinite-scroll *ngIf="page !== -1" (ionInfinite)="paginate($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-template>
  </ng-template>
</ion-content>