page-salary-slip {
    ion-grid{
        ion-row{
            ion-col{
                &.col{
                    padding: 5px 0px 0 5px;
                    text-align: left;
                    &.value{
                        font-weight: 600;
                        color: color($colors, dark);
                    }
                    &.sub-title{
                        font-weight: 600;
                        color: color($colors, light-gray);
                    }
                }
                button {
                    &.button-md {
                        margin: 0 6px 6px 0;
                        height: 1.3em;
                        font-size: 0.8em;
                        padding: 10px;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}
