<ion-header>
    <modal-toolbar [title]="getTitle()" (dismiss)="dismiss($event)"></modal-toolbar>
</ion-header>


<ion-content padding>
    <ion-grid>
        <ion-row *ngIf="requestDetail.RequestType">
            <ion-col class="sub-title">
                Request Type
            </ion-col>
            <ion-col>
                {{requestDetail.RequestType}}
            </ion-col>
        </ion-row>
        <ion-row *ngIf="requestDetail.EmployeeName">
                <ion-col class="sub-title">
                    Employee
                </ion-col>
                <ion-col class="value">
                    {{requestDetail.EmployeeName}}
                </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row *ngIf="requestDetail.Date">
            <ion-col class="sub-title">
                Date
            </ion-col>
            <ion-col class="value">
                {{requestDetail.Date}}
            </ion-col>
        </ion-row>
        <ion-row *ngIf="requestDetail.Department">
            <ion-col class="sub-title">
                Department
            </ion-col>
            <ion-col class="value">
                {{requestDetail.Department}}
            </ion-col>
        </ion-row>
        <div *ngIf="requestDetail.RequestType === 'OT'">
            <ion-row *ngIf="requestDetail.NormalTime">
                <ion-col class="sub-title">
                    Total Unit (Normal Time)
                </ion-col>
                <ion-col class="value">
                    {{requestDetail.NormalTime}}
                </ion-col>
            </ion-row>
            <ion-row *ngIf="requestDetail.OverTime">
                <ion-col class="sub-title">
                    Total Unit (Over Time)
                </ion-col>
                <ion-col class="value">
                    {{requestDetail.OverTime}}
                </ion-col>
            </ion-row>
            <ion-row *ngIf="requestDetail.TimeIn">
                <ion-col class="sub-title">
                    Time In
                </ion-col>
                <ion-col class="value">
                    {{requestDetail.TimeIn}}
                </ion-col>
            </ion-row>
            <ion-row *ngIf="requestDetail.TimeOut">
                <ion-col class="sub-title">
                    Time Out
                </ion-col>
                <ion-col class="value">
                    {{requestDetail.TimeOut}}
                </ion-col>
            </ion-row>
            <ion-row *ngIf="requestDetail.ExtraHrs">
                <ion-col class="sub-title">
                    Extra Hrs
                </ion-col>
                <ion-col class="value">
                    {{requestDetail.ExtraHrs}}
                </ion-col>
            </ion-row>
            <ion-row *ngIf="requestDetail.TotalTime">
                <ion-col class="sub-title">
                    Total Time
                </ion-col>
                <ion-col class="value">
                    {{requestDetail.TotalTime}}
                </ion-col>
            </ion-row>
            <ion-row *ngIf="requestDetail.OTHrs">
                <ion-col class="sub-title">
                    Over Time Hr
                </ion-col>
                <ion-col class="value">
                    {{requestDetail.OTHrs}}
                </ion-col>
            </ion-row>
        </div>
        <div *ngIf="requestDetail.RequestType === 'Leave Application'">
            <ion-row *ngIf="requestDetail.FromDate">
                <ion-col class="sub-title">
                    From Date
                </ion-col>
                <ion-col class="value">
                    {{requestDetail.FromDate | date}}
                </ion-col>
            </ion-row>
            <ion-row *ngIf="requestDetail.ToDate">
                <ion-col class="sub-title">
                    To Date
                </ion-col>
                <ion-col class="value">
                    {{requestDetail.ToDate | date}}
                </ion-col>
            </ion-row>
            <ion-row *ngIf="requestDetail.ReportingDate">
                <ion-col class="sub-title">
                    Reporting Date
                </ion-col>
                <ion-col class="value">
                    {{requestDetail.ReportingDate | date}}
                </ion-col>
            </ion-row>
            <ion-row *ngIf="requestDetail.OTHrs">
                <ion-col class="sub-title">
                    Total Leaves
                </ion-col>
                <ion-col class="value">
                    {{requestDetail.TotalLeave}}
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>
    <ion-grid *ngIf="requestDetail.Remark">
            <ion-row>
                    <ion-col text-wrap>
                       <b>Remark :</b>
                        {{requestDetail.Remark}}
                    </ion-col>
                </ion-row>
    </ion-grid>
    <div class="action-btn" *ngIf="requestDetail && page === 'pendingRequest'">
        <button color="secondary" (click)="takeActionOnRequest('Approve')" ion-button>Approve</button>
        <button ion-button (click)="takeActionOnRequest('Reject')">Reject</button>
    </div>
</ion-content>