<ion-header>
    <modal-toolbar [title]="getTitle()" (dismiss)="dismiss($event)"></modal-toolbar>
</ion-header>


<ion-content padding>
    <ion-grid padding-bottom box-shadow>
        <ion-row>
            <ion-col *ngIf="requestDetail.RequestType" class="sub-title">
                Request Type
            </ion-col>
            <ion-col *ngIf="requestDetail.Date" class="sub-title">
                Date
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col *ngIf="requestDetail.RequestType"  class="value">
                {{requestDetail.RequestType}}
            </ion-col>
            <ion-col *ngIf="requestDetail.Date" class="value">
                {{requestDetail.Date | date}}
            </ion-col>
        </ion-row>
        <div *ngIf="requestDetail.RequestType === 'OT'">
            <ion-row>
                <ion-col *ngIf="requestDetail.NormalTime" class="sub-title">
                    Total Unit (Normal Time)
                </ion-col>
                <ion-col *ngIf="requestDetail.OverTime" class="sub-title">
                    Total Unit (Over Time)
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col *ngIf="requestDetail.NormalTime" class="value">
                    {{requestDetail.NormalTime}}
                </ion-col>
                <ion-col *ngIf="requestDetail.OverTime" class="value">
                    {{requestDetail.OverTime}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col *ngIf="requestDetail.TimeIn" class="sub-title">
                    Time In
                </ion-col>
                <ion-col *ngIf="requestDetail.TimeOut" class="sub-title">
                    Time Out
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col *ngIf="requestDetail.TimeIn" class="value">
                    {{requestDetail.TimeIn}}
                </ion-col>
                <ion-col *ngIf="requestDetail.TimeOut" class="value">
                    {{requestDetail.TimeOut}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col *ngIf="requestDetail.ExtraHrs" class="sub-title">
                    Extra Hrs
                </ion-col>
                <ion-col *ngIf="requestDetail.TotalTime" class="sub-title">
                    Total Time
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col *ngIf="requestDetail.ExtraHrs" class="value">
                    {{requestDetail.ExtraHrs}}
                </ion-col>
                <ion-col *ngIf="requestDetail.TotalTime" class="value">
                    {{requestDetail.TotalTime}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col *ngIf="requestDetail.OTHrs" class="sub-title">
                    Over Time Hr
                </ion-col>
                <ion-col *ngIf="requestDetail.Department" class="sub-title">
                    Department
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col *ngIf="requestDetail.OTHrs" class="value">
                    {{requestDetail.OTHrs}}
                </ion-col>
                <ion-col *ngIf="requestDetail.Department" class="value">
                    {{requestDetail.Department}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col *ngIf="requestDetail.EmployeeName" class="sub-title">
                    Employee
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col *ngIf="requestDetail.EmployeeName" class="value">
                    {{requestDetail.EmployeeName}}
                </ion-col>
            </ion-row>
        </div>
        <div *ngIf="requestDetail.RequestType === 'Leave Application'">
            <ion-row>
                <ion-col *ngIf="requestDetail.FromDate" class="sub-title">
                    From Date
                </ion-col>
                <ion-col *ngIf="requestDetail.ToDate" class="sub-title">
                    To Date
                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col *ngIf="requestDetail.FromDate" class="value">
                    {{requestDetail.FromDate | date}}
                </ion-col>
                <ion-col *ngIf="requestDetail.ToDate" class="value">
                    {{requestDetail.ToDate | date}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col *ngIf="requestDetail.ReportingDate" class="sub-title">
                    Reporting Date
                </ion-col>
                <ion-col *ngIf="requestDetail.TotalLeave" class="sub-title">
                    Total Leaves
                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col *ngIf="requestDetail.ReportingDate" class="value">
                    {{requestDetail.ReportingDate | date}}
                </ion-col>
                <ion-col *ngIf="requestDetail.TotalLeave" class="value">
                    {{requestDetail.TotalLeave}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col *ngIf="requestDetail.Department" class="sub-title">
                    Department
                </ion-col>
                <ion-col *ngIf="requestDetail.EmployeeName" class="sub-title">
                    Employee
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col *ngIf="requestDetail.Department" class="value">
                    {{requestDetail.Department}}
                </ion-col>
                <ion-col *ngIf="requestDetail.EmployeeName" class="value">
                    {{requestDetail.EmployeeName}}
                </ion-col>
            </ion-row>
        </div>
        <div>
            <ion-row *ngIf="requestDetail.Remark">
                <ion-col class="sub-title">
                    Remark
                </ion-col>
                <ion-col class="sub-title">
                    Status
                  </ion-col>
            </ion-row>
            <ion-row *ngIf="requestDetail.Remark">
                <ion-col text-wrap class="value">
                    {{requestDetail.Remark}}
            </ion-col>
          <ion-col  
          [ngClass]="{'pending' : requestDetail.Status === 'Pending', 'rejected' : requestDetail.Status === 'Rejected', 'approve' : requestDetail.Status === 'Approved'}">
          {{requestDetail.Status}} 
        </ion-col>
            </ion-row>
        </div>
    </ion-grid>
    <div class="action-btn" padding *ngIf="requestDetail && page === 'pendingRequest'">
        <button box-shadow color="secondary" (click)="takeActionOnRequest('Approve')" ion-button>Approve</button>
        <button box-shadow ion-button (click)="takeActionOnRequest('Reject')">Reject</button>
    </div>
</ion-content>