page-request-detail {
    ion-grid{
        &.grid{
            padding: 0;
        }
        ion-row{
            ion-col{
                &.col-lab{
                 font-weight: 600;
                }
                &.col{
                    padding: 5px 0px 0 5px;
                    text-align: left;
                    &.value{
                        font-weight: 600;
                        color: color($colors, dark);
                    }
                    &.sub-title{
                        font-weight: 600;
                        color: color($colors, light-gray);
                    }
                }
                ion-icon{
                    font-size: 1.5em;
                    color: darkred;
                }
                &.pending {
                    color: #e6b40c;
                    font-size: 15px;
                    font-weight: 600;
                }

                &.rejected {
                    color: red;
                    font-size: 15px;
                    font-weight: 600;
                }

                &.approve {
                    color: green;
                    font-size: 15px;
                    font-weight: 600;
                }
            }
        }
    }
    .action-btn{
    display: flex;
    justify-content: center;
    }
}
