@function repeat($times, $character) {
    $result: "";

    @if $times==0 {
        @return '';
    }

    @else {
        @for $i from 1 through $times {
            $result: $result + $character;
        }

        @return $result;
    }
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/Open Sans/OpenSans.ttf') format('truetype');
    font-weight: 300;
}

/*
Platform Wide styles
*/

$font-weight-regular: 400;
$font-weight-bold: 500;
$logo-padding: 3em;

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif !important;
}

.platform-mobile {
    .item-label-floating {
        .text-input-md {
            margin-top: 4.5px !important;
        }

        &::last-child {
            .text-input-md {
                margin-top: 5px !important;
            }
        }
    }
}

.segment-button {
    color: #999 !important;
    padding: 0 !important;
    &.activated, &.segment-activated {
      border-bottom: 2px solid #E8343A !important;
      color: #E8343A !important;
      background: transparent !important;
    }
  }

[border-radius] {
    border-radius: 5px !important;
}

[box-shadow] {
    -webkit-box-shadow: 0 0 10px #e6dfdf;
    box-shadow: 0 0 10px #e6dfdf;
    border-radius: 5px;
}

.item-md {
    min-height: auto;

    h2 {
        font-size: 1.2rem;
    }
}

ion-menu {
    ion-header {
        ion-toolbar {
            .toolbar-background {
                background: color($colors, primary);
            }

            .toolbar-title {
                color: white;
            }
        }
    }
}

ion-card-header {
    text-align: center;
    font-size: 1.5em !important;
    font-weight: bold;
}

.toolbar-title-md {
    padding-bottom: 2px;
}

.item-label-stacked .text-input-md,
.item-label-floating .text-input-md {
    margin-top: 6px;
}

.toast-md.danger .toast-wrapper {
    background: color($colors, danger);
}

.card-md h2 {
    font-size: 1.4em;
    color: color($colors, primary);
}

form {
    .list-ios {
        .item-block {
            &:first-child {
                border-top: 0 none;
            }

            &:last-child {
                border-bottom: 0 none;

                .item-inner {
                    border-bottom: 0.55px solid #c8c7cc;
                }
            }
        }
    }
}

ion-app.md {
    font-family: 'Open Sans', sans-serif !important;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.border-bottom {
    border-bottom: 1px solid #ccc;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.height-auto {
    height: auto;
}

.width-full {
    width: 100%;
}

.margin-left-1 {
    margin-left: 1rem;
}

.error-message-block {
    color: color($colors, 'danger');
    padding: 0;
    font-size: 0.9em;
    font-style: italic;

    span {
        display: block;
        width: 100%;

        &::before {
            content: '* ';
        }
    }
}

.office {
    padding: 5px;
    text-transform: uppercase;
    background: gray;
    color: white;
    text-align: center;
}

.sub-heading {
    padding: 3px;
    text-transform: uppercase;
    background: rgb(144, 144, 144);
    color: white;
    text-align: center;
}

.magin-bottom-5 {
    margin-bottom: 5px;
}

[margin-bottom] {
    margin-bottom: 10px !important;
}

.group-header {
    padding: 3px;
    min-height: 25px;

    .toolbar-background {
        background: color($colors, primary);
    }

    ion-title {
        div {
            text-transform: uppercase;
            text-align: center;
            color: white;
            font-size: 12px;
        }
    }
}

.item>ion-icon,
.item-inner>ion-icon {
    min-height: 0.8rem;
    font-size: initial;
    line-height: 1;
}

ion-item-divider {
    &.item-divider-md {
        ion-label {
            margin: 3px 2px 3px 0;
        }
    }
}

.reschedule-count {
    @for $i from 0 through 10 {
        &.reschedule-count-#{$i}::after {
            content: repeat($i, '*');
        }
    }
}

.item.item-md .checkbox-md {
    margin: 0 5px 0 0;
}

.badge-md {
    border-radius: 10px;
}

button {
    &.item-button {
        &[button-mini] {
            height: 1.8em;
            font-size: 0.9rem;
            padding: 0 0.9em;
        }
    }
}