<ion-header>
  <ion-toolbar ion-text color="primary">
    <ion-title>
      {{'OfficeList._SelectOffice_' | translate}}
    </ion-title>
    <ion-buttons end>
      <button color="light" ion-button outline (click)="dismiss(null)">
          {{'ChatScreen._Close_' | translate}}
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar [(ngModel)]="searchText" [showCancelButton]="shouldShowCancel">
  </ion-searchbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item class="list_wrap" *ngFor="let CustomerBranchID of officeList | keys | objectFilter:'CustomerName':searchText:officeList" (click)="selectOffice(CustomerBranchID)">
      {{officeList[CustomerBranchID].CustomerName}}
      <ion-badge item-end color="secondary" *ngIf="modelFlagName === 'CaseStatus' && officeList[CustomerBranchID].CaseSearch_BranchCount">{{officeList[CustomerBranchID].CaseSearch_BranchCount}}</ion-badge>
      <ion-badge item-end color="secondary" *ngIf="modelFlagName === 'Communication' && officeList[CustomerBranchID].Communication_BranchCount">{{officeList[CustomerBranchID].Communication_BranchCount}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
