<ion-header>
  <ion-toolbar ion-text color="primary">
    <ion-title>
      Select Office
    </ion-title>
    <ion-buttons end>
      <button color="light" ion-button outline (click)="dismiss(null)">
        close
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar [(ngModel)]="searchText" [showCancelButton]="shouldShowCancel">
  </ion-searchbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item class="list_wrap" *ngFor="let item of officeList | async | filter:'CustomerName':searchText" (click)="selectOffice(item)">
      {{item.CustomerName}}
      <ion-badge item-end color="secondary" *ngIf="modelFlagName === 'CaseStatus' && item.CaseSearch_BranchCount">{{item.CaseSearch_BranchCount}}</ion-badge>
      <ion-badge item-end color="secondary" *ngIf="modelFlagName === 'Communication' && item.Communication_BranchCount">{{item.Communication_BranchCount}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>