header {
    .bar-button {
        font-size: 2rem;
    }
    ion-title {
        .toolbar-title {
            line-height: 1em;
            div {
            }
            small {
                font-size: 11px;
            }
        }
    }
}