<ion-header>
    <header [title]="getTitle()"></header>
    <internet-status></internet-status>
</ion-header>

<ion-content padding>
  <div class="calendar-header">
    <ion-row class="calendar-month">
      <ion-col col-2 (click)="goToLastMonth()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col col-8>{{selectedMonth}} {{selectedYear}}</ion-col>
      <ion-col col-2 (click)="goToNextMonth()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <div class="calendar-body">
    <ion-grid>
      <ion-row class="calendar-weekday">
        <ion-col>Su</ion-col>
        <ion-col>Mo</ion-col>
        <ion-col>Tu</ion-col>
        <ion-col>We</ion-col>
        <ion-col>Th</ion-col>
        <ion-col>Fr</ion-col>
        <ion-col>Sa</ion-col>
      </ion-row>
      <ion-row class="calendar-date">
        <!-- <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month">{{lastDay.Day}}</ion-col> -->
        <ion-col (click)="SelectDate(day,i+1)" col-1 *ngFor="let day of daysInThisMonth; let i = index;">
          <span [ngClass]="{'currentDate' : todayDate === i + 1 && todayMonth === currentMonth}" *ngIf="todayDate === i + 1 && (todayMonth === currentMonth); else otherDate">{{i + 1}}</span>
          <ng-template #otherDate class="otherDate">
            <span *ngIf="day.TotalTime === '00:00'" [ngClass]="{'absent-date' : day.TotalTime === '00:00'}">{{i + 1}}</span>
            <span *ngIf="day.TotalTime !== '00:00'" [ngClass]="{'selected-date' : isSelected === i + 1, 'holiday' : day.IsHoliday}">{{i + 1}}</span>
          </ng-template>
          <div *ngIf="!day.IsHoliday" class="event-bullet">{{day.TotalTime}}</div>
          <div *ngIf="day.IsHoliday" class="holiday-event">Holiday</div>
        </ion-col>
        <!-- <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month">{{nextDay.Day}}</ion-col> -->
      </ion-row>
    </ion-grid>
  </div>

  <ion-list *ngIf="eventList">
    <ion-item>
      <ion-row>
        <ion-col col-6>
          In-Time : {{eventList.InTime}}
        </ion-col>
        <ion-col col-6>
          Out-Time : {{eventList.OutTime}}
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col class="timings" col-6>
          Target Units : {{eventList.TargetUnits}}
        </ion-col>
        <ion-col class="timings" col-6>
          Complated Units : {{eventList.CompletedUnits}}
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col col-6 class="shift">
          Shift : {{eventList.Shift}}
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col class="total-hrs-label">
          Total Hrs Completed / Total Hours to be completed : 
        </ion-col>
        <ion-col class="total-hr-value">
          {{eventList.HoursCompleted}} / {{eventList.HoursToBeCompleted}}
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer *ngIf="eventList" class="hide-on-keyboard-open">
  <ion-row>
    <ion-col class="total-present-value">
      {{eventList.PresentDays}}
    </ion-col>
    <ion-col class="total-present-value">
      {{eventList.AbsentDays}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="total-present-label">
      Total present days
    </ion-col>
    <ion-col class="total-absent-label">
      Total absent days
    </ion-col>
  </ion-row>
</ion-footer>