page-chat-options {
    ion-content {
        &.content-md {
            background-color: color($colors, light);
            font-size: 12px;
            ion-list {
                margin-bottom: 0;
                ion-item {
                    .item-inner {
                        margin-left: 0 !important;
                    }
                    ion-label {
                        margin: 4px 0;
                    }
                    &.close-topic {
                        ion-label {
                            color: color($colors, danger);
                            ion-datetime {
                                display: none;
                            }
                        }
                    }
                    &.height-0 {
                        height: 0;
                        display: block;
                        max-height: 0;
                        min-height: 0;
                    }
                    button {
                        height: 1.1em;
                        font-size: 1rem;
                        padding: 1em;
                    }
                }
            }
            ion-item-divider {
                border-bottom: 0;
                ion-label {
                    margin: 8px;
                }
            }
            p {
                margin: 0;
                font-size: 12px;
                &.danger {
                    color: color($colors, danger);
                }
                &.secondary {
                    color: color($colors, secondary);
                }
                ion-badge {
                    margin-right: 2px;
                    font-style: italic;
                    font-size: 0.8em;
                }
                .activity {
                    font-size: 10px;
                    padding: 1px;
                    .activity-status {
                        font-weight: 600;
                    }
                    .activity-time {
                        font-style: italic;
                    }
                }
            }
        }
    }
}