<ion-header no-border>
	<ion-toolbar ion-text color="primary">
		<ion-title>
			<div>{{title}}</div>
			<small>{{group_name}}</small>
		</ion-title>
		<ion-buttons end>
			<button color="light" ion-button outline (click)="dismiss(null)">
				Close
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content no-padding *ngIf="data.User !==-1">
	<ion-list>
		<ion-item-divider color="light"></ion-item-divider>
		<ion-item (click)="openSavedMedia()">
			<ion-icon name="archive" item-start color="pickup"></ion-icon>
			Saved Media
			<ion-icon name="ios-arrow-forward" item-end></ion-icon>
		</ion-item>
		<ion-item-divider color="light">data</ion-item-divider>

		<ion-item *ngFor="let participant of data.User;let i = index" (click)="userOptionsClicked(participant, i)">
			{{participant.User}}
			<span *ngIf="isYou(participant.UserID)">(You)</span>
			<ion-icon item-end name="ios-star" color="pickup" *ngIf="participant.IsResponsible"></ion-icon>
			<button ion-button item-end small outline color="casestatus" *ngIf="participant.IsAdmin">Admin</button>
		</ion-item>
	</ion-list>
	<div *ngIf="amIAdmin">
		<ion-item-divider color="light"></ion-item-divider>
		<ion-list [hidden]="closeButton" *ngIf="data.StatusID === 1">
			<ion-item (click)="closeGroup()" class="close-topic">
				<h2 color="danger">Close Topic</h2>
			</ion-item>
		</ion-list>
	</div>
	<div class="background-grey" *ngIf="data.StatusID !== 0">
		<ion-item-divider color="light"></ion-item-divider>
		<p color="pickup">
			Created: {{data.CreationDate_UTC | time}}
		</p>
		<p [ngClass]="isExpired(data.DueDate_UTC, data.CloseDatime_UTC) ? 'danger' : 'secondary'">
			Due: {{data.DueDate_UTC | time}}
		</p>
		<p *ngIf="data.StatusID === 2" color="danger">
			Closed: {{data.CloseDatime_UTC | time}}
		</p>
	</div>
</ion-content>