page-pickup {
    .office {
        padding: 5px;
        text-transform: uppercase;
        background: gray;
        color: white;
        text-align: center;
    }
    .th_position {
        ion-col {
            justify-content: center;
            align-items: center;
            display: flex;
            ion-icon {
                font-size: 3em;
            }
        }
    }
}