<ion-header>
	<ion-toolbar ion-text color="primary">
		<ion-title>
			<div>Add Flash News</div>
			<small>{{group_name}}</small>
		</ion-title>
		<ion-buttons end>
			<button color="light" ion-button outline (click)="dismiss(null)">
				Close
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content padding>
	<form [formGroup]="addFlashForm" (ngSubmit)="addFlash()">
		<ion-list>
			<ion-item>
				<ion-label stacked>Enter Flash/News</ion-label>
				<ion-textarea placeholder="Enter here" type="text" formControlName="flash_message" maxLength="160"></ion-textarea>
			</ion-item>
			<div text-right class="italic-small-grey">
				({{addFlashForm.get('flash_message').value.length}}/160)
			</div>
			<div class="error-message-block" *ngIf="addFlashForm.controls.flash_message.errors && (addFlashForm.controls.flash_message.dirty || addFlashForm.controls.flash_message.touched)">
				<span *ngIf="addFlashForm.controls.flash_message.errors.required">Enter Message</span>
				<span *ngIf="addFlashForm.controls.flash_message.errors.maxlength">Max 160 Characters</span>
			</div>
			<ion-item>
				<ion-label>End Date</ion-label>
				<ion-datetime  displayFormat="DD MMM YYYY, h A" pickerFormat="DD MMM YYYY, HH" formControlName="end_date" max="2050" hourValues="09,10,11,12,13,14,15,16,17,18,19,20,21">
				</ion-datetime>
			</ion-item>
			<div class="error-message-block" *ngIf="addFlashForm.controls.end_date.errors && (addFlashForm.controls.end_date.dirty || addFlashForm.controls.end_date.touched)">
				<span *ngIf="addFlashForm.controls.end_date.errors?.InvalidDatetime">{{getErrorMessage()}}</span>
			</div>
			<ion-item *ngIf="isBrowser">
				<label id="#bb"> Select Your File
					<input type="file" id="File" accept="application/pdf, image/*" size="60" >
					</label> 
			</ion-item>
				<attachment *ngIf="isCordova" [attachments]="attachments" (captured)="captured($event)" (removed)="removeAttachment($event)"></attachment>
			<button ion-button full [disabled]="!addFlashForm.valid">Add Flash</button>
		</ion-list>
	</form>
</ion-content>