page-add-flash {
    ion-content {
        ion-col{
            &.group-name{
                font-weight: 600;
                padding: 0 15px !important;
                font-size: 16px;

            }
            &.group-title{
                padding: 4px 13px !important;
                font-size: 16px;
                color: color($colors,light-gray);
            }
            &.col{
            padding: 12px 12px 0 12px;
            }
            ion-item{
                &.item-md{
                 background-color: #f3f0f0;
                 height: 2.3em;
                 border-radius: 5px;
                }
                &.last-item{
                  margin-bottom: 13px !important;
                }
                ion-textarea {
                    width: 100%;
                    height: 60px;
                    textarea{
                    &.text-input-md{
                        margin: 6px -3px;
                    }
                    }
                }
            }
            .italic-small-grey {
                color: color($colors, light-gray);
            }
        }
   
    }
}