<ion-header>
  <header [title]="title" [buttons]="[{name : 'search', icon : 'search'},{name : 'add', icon : 'add'}]" (buttonClicked)="headerBtnClicked($event)"></header>
</ion-header>


<ion-content padding>
  <ion-refresher *ngIf="!searchInputBtn" (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingIcon="arrow-round-down" pullingText="Pull to refresh" refreshingSpinner="crescent" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar [showCancelButton]="true" *ngIf="searchInputBtn" (ionInput)="getItems($event)"
  (ionClear)="onClear($event)" (ionCancel)="onCancel($event)">
</ion-searchbar>
<center-spinner *ngIf="!tags; else empty_template"></center-spinner>
<ng-template #empty_template>
<empty  *ngIf="tags.length === 0;else data_template"></empty>
  <ng-template #data_template>
    <ion-list>
      <ion-item box-shadow margin-bottom no-lines *ngFor="let tag of tags;let i=index;">
        <ion-label>
          {{tag.Tag}}
        </ion-label>
        <button (click)="actionSheetOpen(tag,i)" color="light-gray" clear icon-only item-end ion-button>
          <ion-icon  name="trash"></ion-icon>
        </button>
        <button (click)="updateTag(tag)" color="light-gray" item-end ion-button clear icon-only>
          <ion-icon name="create" ></ion-icon>
        </button>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll *ngIf="page !== -1" (ionInfinite)="paginate($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
  </ng-template>
  <ion-item-divider text-center [hidden]="page > 0">
    Nothing more to show
  </ion-item-divider>
  </ng-template>
</ion-content>