page-close-topic {
    ion-content {
        //extra top when search shown
        &.extraTop {
            .scroll-content {
                margin-top: 136px !important;
            }
        }
        ion-grid {
            ion-item {
                ion-label {
                    &.label-md {
                        margin: 3px 3px 3px 0;
                    }
                    ion-row {
                        ion-col {
                            font-size: 11px;
                            &.pickup {
                                color: color($colors, pickup);
                            }
                            &.secondary {
                                color: color($colors, secondary);
                            }
                            &.danger {
                                color: color($colors, danger);
                            }
                        }
                    }
                }
            }
        }
    }
}