<ion-header>
	<ion-navbar color="danger">
		<ion-searchbar placeholder="Search" (ionInput)="getData($event)" (ionCancel)="onCancel($event)" (ionClear)="onClear($event)"></ion-searchbar>
		<ion-buttons end>
			<button color="light" ion-button outline *ngIf="selectedParticipantIDs.length === 0" (click)="dismiss(null)">Close</button>
			<button color="light" ion-button outline *ngIf="selectedParticipantIDs.length" (click)="create()">Add</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<div class="header-divider">Available Tags</div>
	<ion-scroll scrollX="true" direction="x" class="scrollable-buttons">
		<button type="button" small ion-button icon-right *ngFor="let tag of tags;let i=index;" (click)="tagClicked(tag.id,i)" [ngClass]="getTagColor(tag.id)">
			{{tag.name}}
			<ion-icon name="md-checkmark" *ngIf="tagsSelected[tag.id]"></ion-icon>
		</button>
	</ion-scroll>
	<div class="header-divider">Select Participants</div>
	<ion-list *ngIf="participants.length">
		<ion-item [ngClass]="getGlowClass(user.selectedAt)" *ngFor="let user of participants | orderBy:'selectedAt':true;let i = index;trackBy:getTrackBy"
		 (click)="setParticipants(user.User[0].UserID)" [hidden]="isHidden(user.User[0].UserID)">
			<h2>{{user.User[0].User}}</h2>
			<p>{{getTags(user.Tag)}}</p>
			<ion-icon item-end name="ios-checkmark-circle-outline" *ngIf="!inSelectedParticipants(user.User[0].UserID);else selectedParticipant"></ion-icon>
			<ng-template #selectedParticipant>
				<button [hidden]="is_from_chat" item-end ion-button clear icon-only (click)="toggleAssign(user.User[0].UserID, $event)">
					<ion-icon color="pickup" [name]="assigned === user.User[0].UserID ? 'ios-star':'ios-star-outline'"></ion-icon>
				</button>
				<ion-icon item-end name="ios-checkmark-circle" color="dashboard" item-end></ion-icon>
			</ng-template>
		</ion-item>
	</ion-list>
</ion-content>