internet-status {
    .device-register {
        text-align: center;
        span {
            color: black;
            display: block;
            &.gray {
                background-color: gray;
            }
            &.secondary {
                background-color: #D2E28B;
            }
            &.pickup {
                background-color: color($colors, pickup);
            }
        }
    }
}
