<ion-header>
  <modal-toolbar [title]="getTitle()" (dismiss)="dismiss($event)"></modal-toolbar>
</ion-header>


<ion-content padding>
  <ion-list *ngIf="contactData.name">
    <ion-item>
      <ion-label>
        {{contactData.name.formatted}}
      </ion-label>
      <button *ngIf="!isBrowser" (click)="saveContact()" item-end ion-button>Save</button>
    </ion-item>
  </ion-list>
  <div margin-left *ngIf="contactData.phoneNumbers">
    <ion-row *ngFor="let phoneNo of contactData.phoneNumbers">
      <ion-icon color="primary" name="ios-call-outline"></ion-icon>
      <ion-col>
        {{phoneNo.value}}
      </ion-col>
    </ion-row>
  </div>
  <div margin-left *ngIf="contactData.emails">
    <ion-row *ngFor="let email of contactData.emails">
      <ion-icon color="primary" name="ios-mail-outline"></ion-icon>
      <ion-col>
        {{email.value}}
      </ion-col>
    </ion-row>
  </div>
</ion-content>