<ion-header>
  <header [title]="getTitle()"></header>
</ion-header>

<ion-content padding>
  <form [formGroup]="overtTimeForm">
    <ion-list box-shadow>
      <ion-row>
        <ion-col>
          <ion-item no-lines>
            <ion-label ion-text color="light-gray">
              Date
            </ion-label>
            <ion-datetime (ionChange)="getDate($event)" #reminder displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY"
              formControlName="date" max="2050">
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-lines>
            <ion-label>Type</ion-label>
            <ion-select formControlName="type">
              <ion-option required *ngFor="let type of typeList" [hidden]="type.Description === ''" [value]="type.OTTypeID"
                (ionSelect)="getType($event)">{{type.Description}}</ion-option>
            </ion-select>
          </ion-item>
          <div class="error-message-block" *ngIf="overtTimeForm.controls.type.errors && (overtTimeForm.controls.type.dirty || overtTimeForm.controls.type.touched)">
            <span *ngIf="overtTimeForm.controls.type.errors.required">Select over time type</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item class="remark" no-lines>
            <ion-label ion-text color="light-gray" fixed>
              Remark
            </ion-label>
            <ion-textarea formControlName="remark" type="text" name="remark"></ion-textarea>
          </ion-item>
          <div class="error-message-block" *ngIf="overtTimeForm.controls.remark.errors && (overtTimeForm.controls.remark.dirty || overtTimeForm.controls.remark.touched)">
            <span *ngIf="overtTimeForm.controls.remark.errors.required">Remark is required</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-list>
    <button box-shadow ion-button block type="submit" (click)="submit()" [disabled]="!overtTimeForm.valid">
      Submit
    </button>
  </form>
</ion-content>