<ion-header>
  <ion-navbar color="primary">
    <ion-title>Add Flash/News</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<form [formGroup]="addFlashForm" (ngSubmit)="addFlash()">
		<ion-textarea placeholder="Enter Flash/News" type="text" formControlName="flash_message" maxLength="160" ></ion-textarea>
			<div *ngIf="addFlashForm.controls.flash_message.errors && (addFlashForm.controls.flash_message.dirty || addFlashForm.controls.flash_message.touched)">
	        	<span *ngIf="addFlashForm.controls.flash_message.errors.required">Enter Message</span>
	        	<span *ngIf="addFlashForm.controls.flash_message.errors.maxlength">Only 160 Characters</span>
	        </div>
	    <ion-item>
          <ion-label>Start Date</ion-label>
         	 <ion-datetime [min]="getCurrentTime()" [max]="2050" mode="ios" displayFormat="DD/MM/YYYY, HH:mm:ss A" formControlName="start_date"></ion-datetime>
        </ion-item>
        <ion-item>
        	<ion-label>End Date</ion-label>
        	<ion-datetime [min]="getCurrentTime()" [max]="2050" mode="ios" displayFormat="DD/MM/YYYY, HH:mm:ss A" formControlName="end_date"></ion-datetime>        	
        </ion-item>
		<button ion-button full [disabled]="!addFlashForm.valid">Add Flash</button>
	</form>
</ion-content>
